
/* БАЗОВі файли: */
@import url("base/reset.css");
@import url("base/fonts.css");
/* Базові налаштування на всю сторінку*/
@import url("base/base.css");

/* БЛОКИ сторінки: header / main / footer */
@import url("blocks/header.css");
@import url("blocks/main.css");
@import url("blocks/footer.css");

