@import url('reset.css'); /* Файл обнулення стилів, розписаний по функціоналу */
/* Локальне підключення шрифтів */
@import url(fonts.css); /*файл додатковиш шрифтів, автономних, що зберігаються в папці*/

body {
	/*шрифти за замовчуванням - найбільш застосовані на сторінці*/
	font-family: 'Lato', sans-serif; /*шрифт підключений  мережевий*/
	/*font-size: 16px; обраний приорітетний шрифт на сторінці*/
	line-height: 1.25;
	background-color: #fff;
	font-weight: 500;
	color: #7e7f7c;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 35px;
	color: #2f302c;
	line-height: 1.04167;
}
h2 {
	font-weight: 800;
	font-size: 32px;
	color: #2f302c;
}

/* ЗАГАЛЬНА ОБГОРТКА_ !ЗАВЖДИ ці властивості писати */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}
.wrapper > main {
	flex-grow: 1;
}

/* ВАРІАНТ ГНУЧКОЇ СТОРІНКИ - ЧЕРЕЗ МОДУЛЬ GRID */
/* Для практики */
/*.header {
	grid-area: header;
}
.main {
	grid-area: main;
}
.footer {
	grid-area: footer;
}*/

/*.wrapper {
	display: grid;
	grid-template-columns: 0.3fr 1fr 0.3fr;
	grid-template-rows: auto 1fr auto;

	grid-template-areas:
		'header header header'
		'main main main'
		'footer footer footer';
}*/

/* Обмежуючий контейнер */
[class*='__container'] {
	margin: 0 auto;
	max-width: 1422px; /*1392+15+15=1422*/
	padding-left: 15px; /*відступи безпеки*/
	padding-right: 15px; /*відступи безпеки*/
}

/*=========== HEADER ================*/
.header {
	padding-top: 50px;
	text-align: center;
	color: #272727;
	background-color: #cecece;
}

.header__main-title {
	font-size: 30px;
	padding-bottom: 50px;
}

.title {
	letter-spacing: 3px;
	font-weight: 700;
	line-height: 1.2;
	padding-top: 30px;
	padding-bottom: 30px;
}
/* ================= M A I N =====================*/
/* ================= Section Categories ==========*/
/* ================= Секція як приклад від МЕНТОРА ==========*/
/*  стилі для секції */
.promo-products {
	padding: 50px 0px; /*відступи для блоку*/
}

.promo-products__container {
	display: grid; /*адаптивна сітка*/
	grid-auto-rows: 1fr;
	gap: 20px;
}

@media (width >= 1422px) {
	.promo-products__container {
		gap: 36px;
	}
}

@media (width >= 1120px) {
	.promo-products__container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width < 1120px) and (width >= 640px) {
	.promo-products__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*======================================================*/
/*  стилі для карток */
.promo-card {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 32px 22px 0;
	grid-column: span 1;

	background-color: #f7f7f7;
	overflow: hidden;
}

@media (width >= 1120px) {
	.promo-card {
		min-height: 584px;
		padding: 48px 32px 0;
	}
}

/*  модифікації для картки */
.promo-card--accent {
	background-color: #e6efea;
}

.promo-card--reverse {
	flex-direction: column-reverse;
	padding-top: 0px;
	padding-bottom: 64px;
}

.promo-card--big {
	padding-bottom: 32px;
}

@media (width >= 640px) {
	.promo-card--big {
		grid-column: span 2;
	}
}

@media (width >= 1120px) {
	.promo-card--big {
		padding-bottom: 50px;
	}
}

@media (width < 1120px) and (width >= 640px) {
	.promo-card:nth-child(3n + 1) {
		order: 1;
	}

	.promo-card:nth-child(3n + 3) {
		order: 2;
	}

	.promo-card--big {
		grid-column: 1 / -1;
	}

	.promo-card--big:nth-child(3n + 2) {
		order: 3;
	}
}
/*======================================================*/

/*  стилі для медіа-контенту картки */
.promo-card__media {
	transform: translateX(22px);

	width: 100%;
	max-width: 263px;
	align-self: flex-end;
}

@media (width >= 1120px) {
	.promo-card__media {
		transform: translateX(32px);
	}
}

/*  модифікації */
.promo-card--reverse .promo-card__media {
	transform: none;

	max-width: 209px;
	aspect-ratio: 209 / 194;
}

.promo-card--big .promo-card__media {
	transform: none;
	max-width: 529px;
	width: 100%;

	align-self: center;
}
/*==== стилі для картинки ===*/
.promo-card__media img {
	width: 100%;
	aspect-ratio: 263/250;

	object-fit: contain;
}

/*  модифікації */
.promo-card--big .promo-card__media img {
	aspect-ratio: 529 / 218;
}
/*======================================================*/

/*  Стилі для тіла контенту картки */
.promo-card__body {
	position: relative;
	z-index: 3;
	/* флекси */
	flex-grow: 1;
	/*стилізація*/
	color: #7e7f7c;
	line-height: 1.25;
}

/*  модифікації */
.promo-card--reverse .promo-card__body {
	flex-grow: 0;
}

.promo-card--big .promo-card__body {
	text-align: center;
	max-width: 310px;
	margin-inline: auto;
}

.promo-card__body > *:not(:last-child) {
	margin-bottom: 24px;
}
/*======================================================*/

/* внутрішні елементи */
.promo-card__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
	color: #2f302c;
}
/*додатковий стиль для відстіпів,  в разі додавання абзацу <p>*/
.promo-card__text p:not(:last-child) {
	margin-bottom: 10px;
}
/*======================================================*/

/*  стилі для посилання */
.promo-card__link {
	position: relative;
	padding-right: 20px;
	outline: none;
	transition: color 0.3s ease;
}

.promo-card__link::after {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	width: 16px;
	height: 16px;
	/* додавання стрілочки */
	background: url(../icons/arrow_right.svg) center / contain no-repeat;
	/* динаміка */
	transition: transform 0.3s ease;
}

.promo-card__link span {
	position: relative;
	display: inline-block; /*в блочно-рядковий тег*/
}

.promo-card__link span::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	/* ліня при нведенні */
	width: 100%;
	height: 1px;
	/* стилізація */
	background-color: #3f5656;
	transform-origin: bottom right;
	pointer-events: none;
	/* динаміка */
	transition: transform 0.3s ease;
}

/*  стилі для ховера */
@media (any-hover: hover), (pointer: fine) {
	.promo-card__link:hover {
		color: #000000;
	}

	.promo-card__link:hover:after {
		transform: translateX(30%);
	}

	.promo-card__link:hover span::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

/*  стилі для фокусу при навігації за допомогою tab */
.promo-card__link:focus-visible {
	color: #3f5656;
}

.promo-card__link:focus-visible:after {
	transform: translateX(30%);
}

.promo-card__link:focus-visible span::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* ================= Секція trusted =============== */
.trusted {
	padding-top: 80px;
	padding-bottom: 80px;
}

.trusted__title {
	text-align: center;
	margin-bottom: 72px;
}
.trusted__items {
	display: grid;
	gap: 74px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	justify-content: center;
}
.trusted__item {
	height: 170px;
	margin: 0 auto;
}
/* МЕДІА_запити для адаптивності, не показувати частину зображення  */
/* Ментори радятя не приховувати, а 
Не треба прибирати частину логотипів, це вони в макеті зараз повторююьться, але цілком ймовірно, 
що потім їх замінять на справжні і тоді виходить,
 що половини партнерів просто не буде.
 Якщо хочете залишити усі одразу видимі, 
то тоді їм треба зменшити розмір та зменшиит gap між ними.*/
@media (width < 480px) {
	/*або запис max-width:480px*/
	.trusted__items {
		gap: 50px; /*при зменшенні екрану , зменшуюються відступи*/
	}
}

/* ================= Секція FEATURED PRODUCTS ============== */
.featured {
	padding: 82px 0;
}

.featured__title {
	text-align: center;
	margin-bottom: 36px;
}
/* верхній блок меню */
.featured__list {
	display: flex;
	justify-content: center;
	gap: 0 48px;
	margin-bottom: 72px;
}

/* Медіазапити для меню */
@media (max-width: 768px) {
	.featured__list {
		gap: 24px;
		margin-bottom: 48px;
	}
}
/* перенос меню на малих екранах */
@media (max-width: 360px) {
	.featured__list {
		gap: 12px;
		margin-bottom: 32px;
		flex-wrap: wrap;
		row-gap: 12px;
	}
}
.list-featured__link {
	font-weight: 700;
	display: block;
	color: #2f302c;
	position: relative;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.list-featured__link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #2f302c;
	transition: all 0.3s;
}

.list-featured__link:hover {
	content: '';

	color: #787879;
	transition: all 0.3s;
}

.list-featured__item:hover .list-featured__link::after {
	width: 100%;
}

.featured__cards {
	display: grid;
	/*ця властивість забезпечує гнучкість,
	БЕЗ МЕДІА-ЗАПИТІВ*/
	/* auto-fill - НАДАЄ АДАПТИВНІСТЬ */
	/* Тут ми додаємо функцію min(330px, 100%), що означає - доки в тебе є місце роби картку шириною 330px, але як тільки місця
	 не буде вистачати - роби так, щоб вона займала всі 100% доступного простору (скрін 6.1) */
	grid-template-columns: repeat(auto-fill, minmax(min(330px, 100%), 1fr));
	grid-auto-rows: 1fr;
	justify-items: center;
	gap: 36px;
}

.card-featured__image {
	margin-bottom: 32px;
	width: 100%;
	transition: all 0.3s;
}
.card-featured__image:hover {
	scale: 1.05;
}
.card-featured__body {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.card-featured__body > *:not(:last-child) {
	margin-bottom: 12px;
}

.card-featured__title {
	flex-grow: 1;
	transition: all 0.5s;
	font-weight: 500;
	color: #2f302c;
}
/* Додаткові стилі при наведення на заголовок */
.card-featured__title:hover {
	scale: 1.05;
	color: #040404;
	font-weight: 700;
}

.rating-card-featured {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 6px;
}

.card-featured__price p {
	font-weight: 800;
	font-size: 20px;
	color: #2f302c;
	line-height: 1.4;
}

/* ================== Секція advantage ======== */
.advantage {
	padding: 82px 0;
}

.advantage__title {
	text-align: center;
	margin-bottom: 72px;
}
.advantage__items {
	display: grid;
	/*ця властивість забезпечує гнучкість,
	БЕЗ МЕДІА-ЗАПИТІВ, 	auto-fill - НАДАЄ АДАПТИВНІСТЬ */
	/*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
	/* порада від Насті */
	grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
	/*grid-auto-rows: 1fr; Ця властивість для рівномірного збільшення іншого рядка, якщо в одному з них додається. 
	Тут не використовується*/
	justify-items: center;
	gap: 68px;
}

.advantage__item {
	/*картки виглядають охайніше і текст не "розбігається"*/
	max-width: 400px;
	width: 100%;
	}
/* стилі зображення */
.item-advantage__image {
	margin-bottom: 24px;
	text-align: center;
}

.item-advantage__img {
	/*Зображенням треба вказати розміри, 
	щоб у випадку їх зміни нічого не зламалось.*/
	max-width: 100%;
	width: 60px;
	height: 60px;
	aspect-ratio: 1;
	/*vertical-align: middle; розміщення по середині*/
}

.item-advantage__body {
	text-align: center;
}
.item-advantage__body > *:not(:last-child) {
	/*властивість для останнього елемента в списку*/
	margin-bottom: 24px;
}
.item-advantage__title {
	font-weight: 700;
	color: #2f302c;
	font-size: 16px;
	line-height: 1.25;
}
.item-advantage__desc p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #7e7f7c;
}
/*для додавання виступів знизу в разі додавання абзацу <p>*/
.item-advantage__desc p:not(:last-child) {
	margin-bottom: 10px;
}
/* ================== ФУТЕР =====================*/
.footer {
	text-align: center;
	padding-bottom: 20px;
	background-color: #686767;
}
.footer__content {
	padding-bottom: 20px;
}
.footer__content p {
	color: #d4d4d4;
	line-height: 1.5;
	padding: 10px 0;
	letter-spacing: 2px; /*відстань між літерами*/
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.footer__content--margin {
	padding-top: 30px;
}

.footer__button {
	padding: 10px 40px;
	border-radius: 30px;
	font-weight: 700;
	color: #d4d4d4;
	letter-spacing: 3px; /*відстань між літерами*/
	border: 2px solid rgb(114, 114, 114);
}

.footer__button:hover {
	/*стилі при наведенні на кнопку*/
	box-shadow: 3px 3px 5px rgb(145, 145, 146);
	background-color: #b8b9b9;
}
