/* Локальне підключення шрифтів */

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /*поведінка браузера - швидше показує текст
   (не чекає завантаження) */
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; /*поведінка браузера - швидше показує текст
   (не чекає завантаження) */
}
/* ---- 700 */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Італік 700 */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold-Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
