@import url('reset.css'); /* Файл обнулення стилів, розписаний по функціоналу */
/* Локальне підключення шрифтів */
@import url(fonts.css); /*файл додатковиш шрифтів, автономних, що зберігаються в папці*/

body {
	/*шрифти за замовчуванням - найбільш застосовані на сторінці*/
	/*font-family: 'Lato', sans-serif; шрифт підключений  мережевий*/
	font-family: 'Montserrat', sans-serif;
	color: #343434;
	/*font-size: 16px; обраний приорітетний шрифт на сторінці*/
}

/* ЗАГАЛЬНА ОБГОРТКА_ !ЗАВЖДИ ці властивості вказувати */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.wrapper > main {
	flex-grow: 1;
}

/* Обмежуючий контейнер */
[class*='__container'] {
	margin: 0 auto;
	max-width: 1230px; /*1200+15+15=1230*/
	padding-left: 15px; /*відступи безпеки*/
	padding-right: 15px; /*відступи безпеки*/
}

/* ========== стилі декорування FLOWER ========= */
.flower-left,
.flower-right,
.flower-up,
.flower-down {
	position: absolute;
	top: 0;
	width: 232px;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
	pointer-events: none;
}

.flower-left {
	left: 0;
	top: -1100px;
	background-image: url(../img/design/lotoc_design_left.webp);
	background-position: left center;
}

.flower-right {
	right: 0;
	top: -150px;
	background-image: url(../img/design/lotoc_design_right.webp);
	background-position: right center;
}

.flower-up {
	top: -1550px;
	right: 0;
	background-image: url(../img/design/lotoc_design_right.webp);
	background-position: right center;
}

.flower-down {
	top: 850px;
	left: 0;
	background-image: url(../img/design/lotoc_design_left.webp);
	background-position: left center;
}

/* === АДАПТИВ для декорацій ====== */

@media (max-width: 768px) {
	.flower-left,
	.flower-right {
		width: 100px;
	}

	.flower-left {
		left: -50px;
	}

	.flower-right {
		right: -50px;
	}
}
/* =============== */

/*=========== HEADER ================*/
.header {
	color: #343434;
	margin-bottom: 70px;
}

.header__container {
	position: fixed; /*фіксація шапки при скролі сторінки*/
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #fff;
	z-index: 100;
	display: flex;
	align-items: center;
	min-height: 108px;
	padding-bottom: 5px;
	padding-top: 5px;
	justify-content: space-between;
}
/* ==== */
.header__logo {
	z-index: 4;
	flex-shrink: 0; /*щоб їх не сплющувався логотип, у випадку збільшення контенту в сусідніх елементах*/
}

.menu {
	display: flex;
	align-items: center;
	gap: 118px;
}

.menu__list {
	display: flex;
	gap: 61px;
	flex-wrap: wrap; /*випадку збільшення пунктів - вони перелаштовувались на другий рядок*/
}
.menu__link {
	font-size: 16px; /*по макету 14, але ментори радять 16рх*/
}
.menu__item {
	transition: color 0.2s;
}
.menu__item:hover {
	color: #e48b37;
}
/* кнопка реєстрації */
.sing-up-button {
	background-color: #ba936f;
	padding: 10px 47px;
	font-size: 17px;
	color: #ffffff;
	font-weight: 500;
	border-radius: 12px;
	transition: all 0.3s ease;
	flex-shrink: 0; /*щоб кнопка не сплющувалася, у випадку збільшення контенту в сусідніх елементах*/
}
.sing-up-button:hover {
	/*стилі при наведенні*/
	background-color: #e48b37;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.icon-menu {
	display: none;
}

/*=== Адаптив  для меню ===*/
@media (width<1200px) {
	.header__container {
		min-height: 80px;
	}
	.menu {
		gap: 80px;
	}
	.menu__list {
		gap: 25px;
	}
}
/* екран при ширині від 1000 */
@media (width<1000px) {
	.sing-up-button {
		padding: 10px 20px; /*зменшуються відступи*/
	}
}
/* екран при ширині від 900 */
@media (width<900px) {
	.menu {
		gap: 20px;
	}
	/*відступ справа для логотипа*/
	.header__logo {
		padding-right: 10px;
	}
}

/* АДАПТИВ пр 780 рх */
/* зазвичай адаптив від 768, але тут краще рашіше зменшитися, вже при 780, т.я 
далі при 768 вже стрибає меню */
/* екран при ширині від 780 */
/* !ПЕРЕБУДОВА рядковго меню - В МЕНЮ_бургер */
@media (max-width: 780px) {
	.main {
		padding-top: 50px; /*відступи секції пісдя хедера пи зменшенні*/
	}
	.header {
		margin-bottom: 30px;
	}
	/* з*являється блок (з розмірами) для меню бургер */
	.icon-menu {
		position: relative;
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
		z-index: 4;
	}
	/*стилі для кнопки з 3-х рисочок  */
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 35px; /*ширина ліній для бургера*/
		right: 0;
		transition: all 0.3s;
		background-color: #2f302c;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}
	.menu {
		position: fixed;
		flex-direction: column; /*перебудова в колонку*/
		gap: 80px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%; /*меню відштовхнуто зліва на 100% блоку*/
		/* додаткові властивості */
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 150px 15px 30px 15px;
		
	}
	.menu::before {
		content: '';
		position: fixed;
		top: 0; /*точка фіксації*/
		left: 100%;
		width: 100%;
		height: 80px;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 0;
	}
	/* перебудовуємо меню по кліку на бургер*/
	.menu__list {
		flex-direction: column;
		row-gap: 40px;
		align-items: center; /*список центрується*/
		
	}
	.menu__link {
		font-size: 25px;
	}
	.sing-up-button {
		padding: 10px 24px;
		order: 2; /*властивість flex-елемента, яка керує 
		порядком відображення елементів всередині flex-контейнера*/
		/*padding: 8px 18px;*/
		margin-left: auto; /*прибити до правого краю*/
	}
	.icon-menu {
		order: 3; /*властивість flex-елемента, яка керує 
		порядком відображення елементів всередині flex-контейнера*/
		display: block;
		margin-left: 35px; /*відштовшування кнопки реєстрації */
	}

	/* JS */
	/*!====!  Блокування прокрутки фону під час відкритого меню-бургера =====*/
	[data-menu-open] {
		overflow: hidden;
		height: 100vh;
	}
	/* JS файл в html */
	/*!==== Анімація іконки бургера (перетворення на "X") ===*/
	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		transform: translate(0, -50%);
		top: 50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		transform: translate(0, 50%);
		bottom: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}

/* ================= M A I N ================*/

/* ПЕРШИЙ БЛОК yoga-info*/
.yoga-info {
	margin-bottom: 136px;
}

.yoga-info__container {
	display: flex;
	gap: 138px;
	flex-direction: column;
	position: relative;
}

.yoga-info__card {
	display: flex;
	gap: 27px;
}

.card-info__text {
	max-width: 687px;
	padding-top: 71px;
	padding-bottom: 57px;
	min-width: 300px;
	flex-shrink: 1;
}
.card-info__title {
	font-size: 50px; /*розмір шрифта згідно макету*/
	margin-bottom: 70px;
	font-weight: 400;
}
.title {
	font-family: 'Lora', serif;
	color: #ba936f;
	text-transform: uppercase;
}
.card-info__description {
	font-size: 19px;
	max-width: 638px;
	margin-bottom: 96px;
	line-height: 1.421;
}

.card-info__link {
	padding-left: 60px;
	position: relative;
	transition: transform 0.2s;
	display: inline-block;
}
.card-info__link:hover {
	transform: scale(1.1);
	color: #ba936f;
}
.card-info__link::before {
	content: '';
	position: absolute;
	top: -40px;
	left: 0px;
	background: url('../icons/circle.svg') left no-repeat;
	width: 100px;
	height: 100px;
}
.card-info__link img {
	padding-left: 6px;
}
.card-info__img {
	max-width: 486px;
	aspect-ratio: 486 / 647;
	flex-shrink: 1;
	overflow: hidden;
	border-radius: 24px;
	min-width: 370px;
	border-radius: 33px;
}
.card-info__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card-info-reverse {
	display: flex;
	flex-direction: row-reverse;
	gap: 40px;
}
.card-info-reverse__text {
	max-width: 560px;
	padding-top: 63px;
	padding-bottom: 43px;
}
.card-info-reverse__title {
	margin-bottom: 55px;
	font-size: 35px;
	font-weight: 400;
}
.card-info-reverse__description {
	margin-bottom: 58px;
	font-size: 19px;
	line-height: 1.421;
}
.card-info-reverse__description p:nth-child(1) {
	/*для першого 
	елемента в переліку*/
	margin-bottom: 46px;
}
.card-info-reverse__description p:nth-child(2) {
	margin-bottom: 5px;
}
.card-info-reverse__description a {
	color: #ba936f;
	transition: transform 0.2s;
	display: inline-block;
}
.card-info-reverse__description a:hover {
	color: #e48b37;
	transform: scale(1.1);
}
.card-info-reverse__link {
	padding: 12px 47px;
	background-color: #ba936f;
	border-radius: 12px;
	color: #ffffff;
	transition: all 0.2s ease;
	font-size: 17px;
	font-weight: 500;
	display: inline-block;
}
.card-info-reverse__link:hover {
	background-color: #e48b37;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.card-info-reverse__img {
	flex-shrink: 1;
	overflow: hidden;
	border-radius: 24px;
	max-width: 600px;
	min-width: 370px;
	aspect-ratio: 600 / 602;
	border-radius: 33px; /*заокруглення для зображення*/
}

.card-info-reverse__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ========= АДАПТИВ ======== */
@media (max-width: 1200px) {
	.yoga-info__container {
		gap: 100px;
	}
	.card-info__text {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.card-info__title {
		font-size: 40px;
		margin-bottom: 50px;
	}
	.card-info-reverse__text {
		max-width: 560px;
		padding-top: 10px;
		padding-bottom: 43px;
	}
	.card-info-reverse__title {
		margin-bottom: 35px;
	}
}

@media (max-width: 768px) {
	.yoga-info {
		margin-bottom: 70px;
	}
	.yoga-info__card {
		display: flex;
		gap: 20px;
		flex-direction: column; /*перебудовує блоки один під один в колонку*/
		/*flex-direction: column-reverse; переставляє місцями блоки*/
		align-items: center;
	}
	.card-info__img {
		max-width: 600px;
		aspect-ratio: 600 / 647;
		width: 100%;
		min-width: 290px;
	}
	.card-info-reverse__img {
		min-width: 290px;
	}
	.card-info__text {
		max-width: 560px;
	}
}
/*===== ДРУГИЙ БЛОК LESSONS =====*/

.lessons {
	margin-bottom: 138px;
}
.lessons__container {
	position: relative;
}

.lessons__header {
	margin-bottom: 64px;
	max-width: 839px;
}
.lessons__title {
	font-size: 35px;
	margin-bottom: 32px;
}
.lessons__description {
	font-size: 17px;
	line-height: 1.6;
}
.lessons__cards {
	display: flex;
	gap: 41px;
	flex-wrap: wrap;
}

.card-lessons {
	flex: 0 0 auto;
	min-width: 300px;
	max-width: none;
}
.card-lessons__img {
	margin-bottom: 14px;
	max-width: 100%;
	display: block;
	border-radius: 32px;
	overflow: hidden;
	position: relative;
	border-radius: 33px; /*заокруглення для зображення*/
}

.card-lessons__img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
	opacity: 0;
	transition: all 0.3s;
}
.card-lessons__img:hover::before {
	opacity: 0.6;
}

.lessons__card:nth-of-type(1) .card-lessons__img {
	aspect-ratio: 385 / 477;
}

.lessons__card:nth-of-type(2) .card-lessons__img {
	aspect-ratio: 1 / 1;
}

.lessons__card:nth-of-type(3) .card-lessons__img {
	aspect-ratio: 362 / 477;
}
.card-lessons__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card-lessons__title {
	text-transform: capitalize;
	padding-left: 15px;
	position: relative;
	transition: all 0.3s;
	transform-origin: center;
	display: inline-block;
	font-weight: 400;
}
.card-lessons:hover .card-lessons__title {
	color: #e48b37;
	transform: scale(1.1);
}

@media (max-width: 1230px) {
	.lessons__cards {
		gap: 20px;
		justify-content: center;
	}
	.lessons__card {
		flex: 1 1 233px;
		max-width: 350px;
		min-height: 300px;
		min-width: 200px;
	}

	.lessons__card:nth-of-type(3) .card-lessons__img {
		aspect-ratio: 385 / 477;
	}
}

@media (max-width: 768px) {
	.lessons {
		margin-bottom: 70px;
	}
	.lessons__header {
		max-width: 560px;
		margin: 0 auto 70px;
	}
	.lessons__description {
		font-size: 17px;
		line-height: 1.6;
	}
	.lessons__card:nth-of-type(2) {
		order: 10;
	}

	.card-lessons__title {
		text-align: center;
		padding-left: 0;
	}
	@media (max-width: 515px) {
		.lessons__card {
			max-width: 360px;
		}
		.lessons__card:nth-of-type(2) {
			order: 0;
		}
	}
}
/*  ============ ТАБЛИЦЯ ========================== */
/*============== ТРЕТIЙ БЛОК ГРАФІК уроків (schedule) =============*/

.schedule {
	margin-bottom: 70px;
}
.schedule__container {
	position: relative;
}
.flower-decor-4 {
	position: absolute;
	top: -130px;
	left: -190px;
}
.schedule__header {
	margin-bottom: 41px;
}
.schedule__title {
	font-size: 35px;
	max-width: 515px;
	line-height: 1.3;
	margin-bottom: 16px;
	color: #cccccc;
}

.schedule__description {
	max-width: 840px;
	font-size: 17px;
	line-height: 1.6;
}
.schedule__content {
	display: flex;
	gap: 33px;
}
.schedule__wrapper-table {
	max-width: 660px;
	width: 100%;
}
.schedule__table {
	border-collapse: collapse;
	max-width: 660px;
	width: 100%;
	margin: 70px 0;
}
.schedule__table tr {
	border-bottom: 1px solid #ba936f;
}
.schedule__table tr:first-child {
	border-top: 1px solid #ba936f;
}
.schedule__table td {
	padding: 18px 0;
	text-transform: uppercase;
	line-height: 1.4;
	position: relative;
}
.schedule__table td a {
	display: inline-flex;
	align-items: flex-start;
	gap: 1px;
	transition: all 0.3s;
}
.schedule__table td a:hover {
	color: #ba936f;
}

.schedule__img {
	max-width: 503px;
	aspect-ratio: 503 / 602;
	min-width: 350px;
	border-radius: 33px; /*заокруглення кутів зображення*/
}
.schedule__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* АДАПТИВ */
@media (max-width: 1200px) {
	.schedule__table {
		margin: 40px 0;
	}
}
@media (max-width: 1120px) {
	.schedule__table {
		margin: 0px 0;
	}
}
@media (max-width: 950px) {
	.schedule__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.schedule__table {
		display: table;
	}
	.schedule__table td {
		padding: 18px 0;
	}
	.schedule__wrapper-table {
		overflow-x: auto;
		margin-right: -15px;
		margin-left: -15px;
		width: calc(100% + 30px);
	}
	.schedule__table td {
		padding-left: 15px;
		padding-right: 15px;
	}
	.schedule__img {
		max-width: 703px;
		width: 100%;
	}
}
@media (max-width: 700px) {
	.schedule__table {
		min-width: 660px;
		width: 100%;
	}
	.schedule__img {
		min-width: 290px;
	}
}

/* ================== ФУТЕР ==================*/
.footer {
	text-align: center;
	padding-bottom: 20px;
	background-color: #686767;
}
.footer__content {
	padding-bottom: 20px;
}
.footer__content p {
	color: #d4d4d4;
	line-height: 1.5;
	padding: 10px 0;
	letter-spacing: 2px; /*відстань між літерами*/
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.footer__content--margin {
	padding-top: 30px;
}

.footer__button {
	padding: 10px 40px;
	border-radius: 30px;
	font-weight: 700;
	color: #d4d4d4;
	letter-spacing: 3px; /*відстань між літерами*/
	border: 2px solid rgb(114, 114, 114);
}

.footer__button:hover {
	/*стилі при наведенні на кнопку*/
	box-shadow: 3px 3px 5px rgb(145, 145, 146);
	background-color: #b8b9b9;
}
