@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */

/*ТЕМА: СЕЛЕКТОРИ CSS*/

/* ================================
   1. Універсальний селектор "*"
   впливає на всі елементи (часто використовується для обнулення) */
/*
 * {
  color: gray; універсальний селектор- для всього і всіх
}*/

/* ================================
   2. Селектори за класом
================================= */
.menu {
  color: chartreuse;
}

.sub-title-first {
  color: darksalmon;
}
.sub-title {
  color: green;
}

/* ================================
   3. Селектори за тегом
================================= */

h1 {
  color: rgb(0, 251, 255); /* тег h1 */
}

h2 {
  color: rgb(2, 209, 255); /* тег h2 */
}
p {
  color: rgb(1, 255, 196); /* тег p */
}

/* ================================
   4. Комбінатори
================================= */
/* Нащадок будь-якої глибини (теги з пробілом) */
section p {
  color: rgb(
    8,
    244,
    8
  ); /* Стосується УСІХ блоків з тегом "p" всередині "section", БУДЬ_ЯКА ВКЛАДЕННІСТЬ */
}

/* Сусід (+) — вказівка для тегу "р", що буде ПЕРШИЙ (того ж рівня) одразу після h2 */
h2 + p {
  color: rgb(252, 0, 160); /* p, що йде одразу після h2 */
}

/* Прямий нащадок, діти */
/* li, які є ПРЯМІ дітьми ul, що прямо всередині "ul" */
ul > li {
  color: rgb(240, 220, 3);
}

/* Усі наступні сусіди "Р" після першого селектора "h2" (~) */
h2 ~ p {
  color: rgb(149, 5, 58);
  /* всі "p" після "h2" на тому ж рівні вкладеності.*/
}

footer p {
  color: rgb(64, 0, 255);
}

footer a {
  color: rgb(24, 242, 4);
}
/* ================================
   5. Атрибутні селектори
================================= */

a[href="#section-1"] {
  /*селектор для атрибуту "href" зі значенням ""*/
  color: brown;
}

/* Селектор, що стилізує всі блоки, які мають в назві скласу значення "__content"*/
[class*="__content"] {
  color: rgb(54, 4, 233);
}

/* Селектор, що стилізує конкретне значення атрибуту href */
a[href="#top"] {
  color: red;
}

/* ================================
   6. Групування селекторів
================================= */
/*h2, div, p {
  color: olive;  групування: "h1", "h2" і "p" одночасно можна робити одночасно 
}*/

/*!З урахуванням правила пріоритетності селекторів - кольори змінюються від більш загального селектора до більш конкретизованного*/

@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */

/*ТЕМА: СЕЛЕКТОРИ CSS*/

/* ================================
   1. Універсальний селектор "*"
   впливає на всі елементи (часто використовується для обнулення) */
/*
 * {
  color: gray; універсальний селектор- для всього і всіх
}*/

/* ================================
   2. Селектори за класом
================================= */
.menu {
  color: rgb(107, 215, 0);
}

.sub-title-first {
  color: darksalmon;
}
.sub-title {
  color: green;
}

/* ================================
   3. Селектори за тегом
================================= */

h1 {
  color: rgb(1, 161, 164); /* тег h1 */
}

h2 {
  color: rgb(2, 209, 255); /* тег h2 */
}
p {
  color: rgb(1, 255, 196); /* тег p */
}

/* ================================
   4. Комбінатори
================================= */
/* Нащадок будь-якої глибини (теги з пробілом) */
section p {
  color: rgb(
    1,
    164,
    1
  ); /* Стосується УСІХ блоків з тегом "p" всередині "section", БУДЬ_ЯКА ВКЛАДЕННІСТЬ */
}

/* Сусід (+) — вказівка для тегу "р", що буде ПЕРШИЙ (того ж рівня) одразу після h2 */
h2 + p {
  color: rgb(252, 0, 160); /* p, що йде одразу після h2 */
}

/* Прямий нащадок, діти */
/* li, які є ПРЯМІ дітьми ul, що прямо всередині "ul" */
ul > li {
  color: rgb(172, 157, 2);
}

/* Усі наступні сусіди "Р" після першого селектора "h2" (~) */
h2 ~ p {
  color: rgb(149, 5, 58);
  /* всі "p" після "h2" на тому ж рівні вкладеності.*/
}

footer p {
  color: rgb(64, 0, 255);
}

footer a {
  color: rgb(24, 242, 4);
}
/* ================================
   5. Атрибутні селектори
================================= */

a[href="#section-1"] {
  /*селектор для атрибуту "href" зі значенням ""*/
  color: brown;
}

/* Селектор, що стилізує всі блоки, які мають в назві скласу значення "__content"*/
[class*="__content"] {
  color: rgb(54, 4, 233);
}

/* Селектор, що стилізує конкретне значення атрибуту href */
a[href="#top"] {
  color: red;
}

/* ================================
   6. Групування селекторів
================================= */
/*h2, div, p {
  color: olive;  групування: "h1", "h2" і "p" одночасно можна робити одночасно 
}*/

/*!З урахуванням правила пріоритетності селекторів - кольори змінюються від більш
загального селектора до більш конкретизованного*/
