@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */

/*ТЕМА: СЕЛЕКТОРИ CSS*/


/* ================================
   1. Універсальний селектор "*"
   впливає на всі елементи (часто використовується для обнулення) */
/*
 * {
  color: gray; універсальний селектор- для всього і всіх
}*/



/* ================================
   2. Селектори за класом
================================= */
.menu {
	color: chartreuse;
}

.sub-title-first{
	color: darksalmon;
}
.sub-title {
	color: green;
}
/* ================================
   3. Селектори за тегом
================================= */

h1 {
  color: rgb(0, 0, 255); /* тег h1 */
}

h2 {
  color: rgb(2, 209, 255); /* тег h2 */
}
p {
  color: rgb(1, 255, 196); /* тег p */

}

/* ================================
   4. Комбінатори
================================= */
/* Нащадок будь-якої глибини */
section p {
  color: rgb(8, 244, 8); /* Стосується УСІХ блоків з тегом "p" всередині "section", БУДЬ_ЯКА ВКЛАДЕННІСТЬ */
}


/* Сусід (+) — вказівка для тегу "р", що буде ПЕРШИЙ (ЛЮБОГО РІВНЯ) одразу після h2 */
h2 + p {
  color: rgb(252, 0, 160); /* p, що йде одразу після h2 */
}


/* Прямий нащадок */
 ul > li {
  color: rgb(240, 220, 3); /* li, які є ПРЯМІ дітьми ul, що прямо всередині "ul" */
}

/* Усі наступні сусіди "Р" після першого селектора "h2" (~) */
h2 ~ p {
  color: rgb(33, 4, 246); /* всі "p" після "h2" на ОДНОМУ РІВНІ вкладенності. Властивість не спрацюватиме, т.я немає тегу "р" на одному рівні з "h2" */
}

footer p{
	color: rgb(64, 0, 255);
}

/* ================================
   5. Атрибутні селектори
================================= */

a[href="#section-5"] {
	color: brown;
}

/* ================================
   6. Групування селекторів
================================= */
/*h2, div, p {
  color: olive;  групування: "h1", "h2" і "p" одночасно можна робити одночасно 
}*/