@charset "UTF-8";
/* Скидання стилів */
/* Обнулення усіх елементів (*) і усіх псевдоелементів (::before і ::after). */
*,
*::before,
*::after {
  padding: 0; /* прибирає внутрішні відступи у всіх елементів */
  margin: 0;
  border: none; /*не застосовувати обводку*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* включає padding і border у ширину та висоту елементів */
}

/*ці псевдоелементи є рядкові і їх треба перевести в блочно-рядкові*/
*::before,
*::after {
  display: inline-block;
}

a {
  /*Обнулення посилань*/
  text-decoration: none; /* прибирає стандартне підкреслення у посилань */
  color: inherit; /* робить колір тексту посилання таким самим, як у батьківського елемента */
  /*display: inline-block; посилання <a> буде блочним-строчним і можна застосувати відступи,
    але буде вибудовано в рядок. як рядковий тег*/
  display: inline-block; /*a - є рядковим елементом і для надання властивості ширини
необхідно (в коді) переводити в блочно - рядковий. В цьому файлі ліпщше зробити автоматично*/
}

li {
  list-style: none; /* прибирає стандартні маркери у списків (кружечки, цифри тощо) */
}

img {
  max-width: 100%; /* зображення не буде виходити за межі батьківського контейнера і буде адаптивним */
  vertical-align: middle; /* прибирає небажані відступи знизу біля inline-зображень */
}

html,
body {
  height: 100%; /* задає висоту html і body на весь екран */
  line-height: 1; /* Для всих текстів - висота рядка, - щоб не було зайвих відступів між рядками*/
}

h1,
h2,
h2,
h4,
h5,
h6 {
  font-weight: inherit; /* скидає жирність заголовків (успадковується від батьківського елемента) */
  font-size: inherit; /* прибирає дефолтні розміри для заголовків*/
  font-family: inherit; /* прибирає дефолтний шрифт заголовків, залишає такий самий як у body */
}

input,
textarea {
  /*для ввводу данних*/
  width: 100%;
  font-weight: inherit; /*примусово змушуємо успадковувати для зручності*/
  font-style: inherit;
  font-family: inherit;
}

label {
  display: inline-block; /*передід до блочно-рядкового типу*/
}

button {
  background-color: transparent; /*обнулення фону для кнопки*/
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

/* use - значить "використовуй"*/
/* Локальне підключення шрифтів */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap; /*поведінка браузера - швидше показує текст (не чекає завантаження) */
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; /*поведінка браузера - швидше показує текст
(не чекає завантаження) */
}
/* Локальне підключення шрифтів */ /* Підключення шрифтів */ /* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"); */ /* @import url("https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap"); */ /* Основні стилі */ /* Значення за замовченням  */
body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Lato", sans-serif; /*шрифт підключений  мережевий*/
  font-size: 16px; /*обраний пріорітетний шрифт на сторінці*/
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*Const - на всю обгортку*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Const  - вибудовуємо в колонку херер - майн - футер*/
  position: relative; /* базування буде від Wrapper */
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /*"Const" для всих сторінок */
}

[class*=__container] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 87.5rem; /*згідно макету*/
  margin: 0 auto;
}

.header {
  padding-top: 3.125rem;
  text-align: center;
  color: #272727;
  background-color: #cecece;
}
.header__main-title {
  font-size: 1.875rem;
  padding-bottom: 3.125rem;
}
.header__title {
  letter-spacing: 0.1875rem;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.header__description {
  font-size: 1.375rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}
.header__list {
  font-size: 1.125rem;
  text-align: center;
  text-transform: none;
  padding-left: 3.125rem;
}

.register__header {
  /*Шапка блоку*/
  padding: 5.125rem 0; /*верхні та нижні відступи, як в макеті*/
  text-align: center;
}
.register__title {
  margin-bottom: 2.25rem; /*нижній відступ під заголовком*/
}
.register__subtitle {
  /*підзаголовок*/
  color: #7e7f7c;
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
}
.register__body {
  /*гнучкий блок флекс*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*гнучкий контейнер*/
  padding: 5.125rem 0; /*верхній відступ*/
  gap: 80px; /*внутрішні вдступи між елементами*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 48em) {
  .register__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; /*перебудовується в зворотному напрямку*/
    gap: 3.75em;
  }
}

.title {
  /*стилі заголовка*/
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25; /* 40/32 */
  text-transform: uppercase;
}

/*====== Стилі для форми реєстрації =====*/
.form-block {
  -ms-flex-preferred-size: 44.5rem;
      flex-basis: 44.5rem; /*стартова ширина*/
  /* підкреслення посилання прии наведенні */
  /*===== Блок складається з двох блоків ======*/
  /* Стиля для схожих елементів */
  /* Фокусування на полі введення даних */
  /*=== Стилі для кнопки ===*/
  /* Стилі кнопки при наведенні */
  /* Стилі кнопки при наведенні */
  /* Стиль кнопки при активації */
}
.form-block__title {
  margin-bottom: 2.25rem;
}
.form-block__subtitle {
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
  color: #7e7f7c;
  margin-bottom: 4.5rem;
}
.form-block__link {
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
  color: #2f302c;
}
.form-block__link:hover {
  text-decoration: underline;
}
.form-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}
.form-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*гнучка властивість*/
  gap: 2.5rem; /*внутрішні відступи міє дочічними елементами*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /*колонки*/
}
.form-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-block__name, .form-block__email, .form-block__password, .form-block__password-reset {
  -ms-flex-preferred-size: 21rem;
      flex-basis: 21rem; /*стартова ширина елементів*/
  max-width: 100%; /*займає всю ширину батьківського блоку*/
}
.form-block__name {
  max-width: 100%;
}
.form-block__input {
  padding: 0.75rem 0;
  border-bottom: 0.0625rem solid #d4d4d4;
}
.form-block__input:focus {
  padding: 0.75rem 0;
  border-bottom: 1px solid #d4d4d4;
}
.form-block__button {
  max-width: 21rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
  color: #fff;
  background-color: #2f302c;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.form-block__button:hover {
  background-color: #585858;
}
.form-block__button:active {
  background-color: #2f302c;
}

/* =========== БЛОК ПРОПОЗИЦІЇ ================= */
.offer-block {
  position: relative; /*Стартовий блок для позиціонування доцірних елементів*/
  min-height: 31rem;
  padding: 3.75rem 5rem;
  overflow: hidden;
  -ms-flex-preferred-size: 37.5rem;
      flex-basis: 37.5rem; /*стартова ширина*/
  background-color: #f6f6f6;
}
.offer-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*гнучкий блок*/
  position: relative; /*позиціонування*/
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.offer-block__badge {
  padding: 0.25rem 0.5rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
  text-transform: uppercase;
  background-color: #ce0000;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}
/* ============== ФУТЕР ==============*/
.footer {
  text-align: center;
  padding-bottom: 1.25rem;
  background-color: #686767;
}
.footer__content {
  padding-bottom: 1.25rem; /*відступи для внутрішнього контенту*/
}
.footer__content--margin {
  padding-top: 1.875rem;
}
.footer__title {
  color: rgb(201, 200, 200);
  line-height: 1.5;
  padding: 0.625rem 0;
  letter-spacing: 2px; /*відстань між літерами*/
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.footer__button {
  padding: 0.625rem 2.5rem;
  border-radius: 1.875rem;
  font-weight: 700;
  color: #d4d4d4;
  letter-spacing: 0.1875rem; /*відстань між літерами*/
  border: 0.125rem solid rgb(114, 114, 114);
}
.footer__button:hover {
  /*При наведенні*/
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.3125rem rgb(220, 220, 233);
          box-shadow: 0.1875rem 0.1875rem 0.3125rem rgb(220, 220, 233);
  background-color: #888888;
}