/*=========== HEADER ================*/
.header {
	padding-top: 50px;
	text-align: center;
	color: #272727;
	background-color: #cecece;
}

.header__main-title {
	font-size: 30px;
	padding-bottom: 50px;
}

.title {
	letter-spacing: 3px;
	font-weight: 700;
	line-height: 1.2;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header__description {
	font-size: 22px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
