/*=========== MAIN ==================*/

.register__header {
	/*Шапка блоку*/
	padding: 82px 0; /*верхні та нижні відступи, як в макеті*/
	text-align: center;
}
.register__title {
	margin-bottom: 36px; /*нижній відступ під заголовком*/
}
.title {
	/*стилі заголовка*/
	font-size: 32px;
	font-weight: 800;
	line-height: 1.25; /* 40/32 */
	text-transform: uppercase;
}
.register__subtitle {
	/*підзаголовок*/
	color: #7e7f7c;
	font-weight: 700;
	line-height: 1.25; /* 20/16 */
}
/* Стилі блоку реєстрації */
.register__body {
	/*гнучкий блок флекс*/
	display: flex; /*гнучкий контейнер*/
	padding: 82px 0; /*верхній відступ*/
	gap: 80px; /*внутрішні вдступи між елементами*/
	justify-content: space-between;
}

/* ================================= */
/*Стилі для форми реєстрації*/
.form-block {
	flex-basis: 712px; /*стартова ширина*/
}
.form-block__title {
	margin-bottom: 36px;
}
.form-block__subtitle {
	font-weight: 500;
	line-height: 1.25; /* 20/16 */
	color: #7e7f7c;
	margin-bottom: 72px;
}
/* посилання */
.form-block__link {
	font-weight: 700;
	line-height: 1.25; /* 20/16 */
	color: #2f302c;
}
/* підкреслення посилання прии наведенні */
.form-block__link:hover {
	text-decoration: underline;
}

.form-block__form {
	display: flex;
	flex-direction: column;
	gap: 72px;
}
/* Блок складається з двох блоків */
.form-block__body {
	display: flex; /*гнучка властивість*/
	gap: 40px; /*внутрішні відступи міє дочічними елементами*/
	flex-direction: column; /*колонки*/
}
/* колонки сладаються з рядків */
.form-block__row {
	display: flex;
	gap: 40px;
	justify-content: space-between;
}
/* Стиля для схожих елементів */
.form-block__name,
.form-block__email,
.form-block__password,
.form-block__password-reset {
	flex-basis: 336px; /*стартова ширина елементів*/
	max-width: 100%; /*займає всю ширину батьківського блоку*/
}

.form-block__phone {
	max-width: 100%;
}
/* Фокусування на полі введення даних */
.form-block__input:focus {
	outline: none; /*вимкнення обводки для поля введення*/
	border-bottom: 1px solid #000; /*нижнє пікреслення поля введення даних*/
}

.form-block__input {
	padding: 12px 0;
	border-bottom: 1px solid #d4d4d4;
}
/* Стиля для кнопки */
.form-block__button {
	max-width: 336px;
	padding: 12px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.25; /* 20/16 */
	color: #fff;
	background-color: #2f302c;
	transition-duration: 0.3s;
}
/* Стилі кнопки при наведенні */
.form-block__button:hover {
	background-color: #585858;
}
/* Стиль кнопки при активації */
.form-block__button:active {
	background-color: #2f302c;
}

/* =========== БЛОК ПРОПОЗИЦІЇ ================= */
.offer-block {
	position: relative; /*Стартовий блок для позиціонування доцірних елементів*/
	min-height: 496px;
	padding: 60px 80px;
	overflow: hidden;
	flex-basis: 600px; /*стартова ширина*/
	background-color: #f6f6f6;
}
/* Стилі для зображення */
.offer-block__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.offer-block__info {
	display: flex; /*гнучкий блок*/
	position: relative; /*позиціонування*/
	height: 100%;
	flex-direction: column;
	justify-content: end;
	align-items: flex-start;
}
/* блок "HOT" */
.offer-block__badge {
	padding: 4px 8px;
	color: #fff;
	font-weight: 700;
	line-height: 1.25; /* 20/16 */
	text-transform: uppercase;
	background-color: #ce0000;
	border-radius: 4px;
	margin-bottom: 24px;
}
