/* Локальне підключення шрифтів */

@font-face {
  font-family: "Playfair";
  src: url("../fonts/playfair-display-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

