@import url('reset.css'); /* Файл обнулення стилів, розписаний по функціоналу */
/* Локальне підключення шрифтів */
@import url(fonts.css); /*файл додатковиш шрифтів, автономних, що зберігаються в папці*/

/* Підключення стилів */

/* керує поведінкою прокрутки сторінки */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Playfair', serif;
	color: #000000;
}
main {
	flex: 1;
	/* або 	flex-grow: 1;
flex-shrink: 1;
flex-basis: 0; */
}
/* Властивість для захисту частини контенту при скролі */
section[id] {
	scroll-margin-top: clamp(3.75rem, 3.286vw + 2.386rem, 5.9375rem);
}

/* ОБГОРТКА */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

/* Бвзові властивості контейнерів */
[class*='__container'] {
	/*аналог max-width:*/
	max-inline-size: 60.125rem;
	margin-inline: auto;
	padding-inline: 0.9375rem; /*выдступи безперки*/
}

.header {
	position: fixed;
	top: 0;
	color: #ffffff;
	background-color: transparent;
	width: 100%;
	z-index: 10;
}
.header.header--scroll-state {
	/*зиіна фону хедеру при скролі*/
	background-color: rgb(0, 0, 0, 0.85); /*прозорість фону*/
}
.header__container {
	display: flex;
	justify-content: space-between;
	gap: 1.875rem;
	align-items: center;
	min-height: clamp(3.75rem, 3.286vw + 2.386rem, 5.9375rem);
}
/*  ЛОГОТИП */
/* Стилі логотипу */
.header__logo {
	font-size: 2.25rem;
	z-index: 2;
	text-transform: uppercase;
	transition: all 0.6s;
}
/* Логотип при наведенні */
.header__logo:hover {
	opacity: 0.8; /*  легка реакція на наведення */
	transform: scale(1.1);
}
.menu__list {
	display: flex;
	gap: 2rem;
	font-size: 1rem; /*по макету вказано 12рх, необхідно корегування для читабельності*/
	flex-wrap: wrap;
}
.menu__item {
	transition: all 0.6s;
	position: relative;
}
/* Підкреслення плавне меню */
.menu__item::after {
	content: '';
	position: absolute;
	bottom: -0.3125rem;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0.0625rem;
	background-color: #ffffff;
	transition: all 0.6s;
}

.menu__item:hover::after {
	width: 100%;
}
/* зміни при наведенні - збільшення */
.menu__item:hover {
	transform: scale(1.2);
}
/* вимкнено */
.icon-menu {
	display: none;
}

/*==== АДАПТИВНІСЬ блоку ==== */
@media (max-width: 40em) {
	.icon-menu {
		display: block;
		width: 1.875rem;
		height: 1.125rem;
		flex-shrink: 0;
		position: relative;
		z-index: 4;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: '';
		height: 0.125rem;
		width: 1.875rem;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #ffffff;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}
	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #2e2b2b;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 9.375rem 0.9375rem 1.875rem 0.9375rem;
		flex-direction: column;
		gap: 5rem;
	}
	.menu::before {
		content: '';
		position: fixed;
		width: 100%;
		height: 3.75rem;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #2e2b2b;
		z-index: 0;
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		column-gap: 2.5rem;
		font-size: 1.875rem;
		flex-wrap: wrap;
	}
	.menu__item::after {
		content: none;
	}

	[data-menu-open] {
		overflow: hidden;
		height: 100svh;
	}

	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		transform: translate(0, -50%);
		top: 50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		transform: translate(0, 50%);
		bottom: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}

/* ======= M A I N ================ */
.page__main-block {
	min-height: 100%; /*займає всю ширину батьківського блоку*/
	min-height: 100svh; /*svh - ліпше для мобільниих*/
	position: relative;
}
.main-block {
	color: #ffffff;
}
.main-block__bg {
	position: relative;
	width: 100%;
	min-height: 100%;
	height: 100svh;
}
.main-block__bg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100svh;
	object-fit: cover;
	z-index: -1;
}
.main-block__container {
	display: flex;
	justify-content: flex-end;
	padding-block: 10.9375rem 22rem;
}
.main-block__body {
	max-width: 22.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-block__title {
	font-size: clamp(2.375rem, 2.1705rem + 1.0227vw, 2.9375rem); /*адаптивний шрифт*/
	margin-bottom: clamp(1.5rem, 5vw, 1.875rem);
}
.main-block__text {
	font-size: 0.875rem;
	padding-bottom: 4.375rem;
	text-align: center;
	line-height: 1.35;
}

/* КНОПКА - на першій сторінці з підсвіткою */
.main-block__button {
	text-align: center;
	padding-block: 0.5rem;
	padding-inline: 0.8125rem;
	border: 0.0625rem solid #797979;
	display: inline-block;
	margin-inline: auto;
	font-size: 0.8125rem;
	transition: transform 0.6s;
}
/* підсвітка при наведенні */
.main-block__button:hover {
	box-shadow: 0 0 0.625rem 0.125rem rgba(79, 78, 78, 0.8);
	transform: scale(1.1);
}

/*==== АДАПТИВНІСЬ блоку ==== */
@media (max-width: 40em) {
	.main-block__bg img {
		object-position: 11% 50%;
	}
	.main-block__container {
		display: flex;
		justify-content: center;
		padding-block: 10.9375rem;
	}
	.main-block__title {
		text-align: center;
	}
}

@media (max-width: 25em) {
	.main-block__body {
		max-width: 20rem;
	}
}

/*==================== СЕКЦІЯ ABOUT ==================*/
.page__about-block {
	padding-block: 5.25rem 6.25rem;
	position: relative;
}

.about-block__container {
	max-width: 63.5rem;
}
.page__about-block::after {
	content: '';
	width: min(62.5rem, 100%); /*лінія обмежена для вузьких екранів*/

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 0.0625rem;
	background-color: #000000;
	display: block;
}
.about-block__title {
	font-size: 1.875rem;
	text-align: center;
	margin-bottom: 7.1875rem;
}
.about-block__content {
	display: flex;
	justify-content: space-between;
	gap: 1.875rem;
}
.about-body {
	margin-bottom: 8.4375rem;
}
.about-body__text-block {
	max-width: 28.125rem;
	display: flex;
	flex-direction: column;

	gap: 2.1875rem;
}
.about-body__title {
	font-size: 1.875rem;
}
.about-body__text {
	line-height: 1.31;
}
.about-body__image {
	aspect-ratio: 317 / 485;
	min-width: 17.1875rem;
}
.about-body__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* КНОПКА - використовується два рази в двох секціях */
.button {
	display: flex;
	justify-content: center;
}
.button__item {
	padding: 0.5625rem 3.0625rem;
	border: 0.0625rem solid #000000;
	display: inline-block;
	text-align: center;
	background-color: #ffffff;
	transition: all 0.3s;
}
.button__item:hover {
	background-color: #000000;
	color: #ffffff;
}

/*==== АДАПТИВНІСЬ блоку ==== */
@media (max-width: 34.375em) {
	.page__about-block {
		padding-block: 3.25rem 3.25rem;
	}
	.about-body {
		margin-bottom: 4.4375rem;
	}
	.about-block__container::after {
		bottom: -3.25rem;
	}
	.about-block__content {
		flex-direction: column;
	}
	.about-body__text-block {
		gap: 1.1875rem;
	}
	.about-block__title {
		margin-bottom: 2.25rem;
	}

	.about-body__title {
		font-size: 1.5rem;
	}
}

/*======= СЕКЦІЯ info - page__cosmetics ============ */
.page__cosmetics-block {
	padding-block: 3.9375rem 7.3125rem;
	margin-bottom: 4.375rem;
	position: relative;
}

.cosmetics-block__container {
	display: flex;
	flex-direction: column;
	max-width: 52.25rem;
	width: 100%;
}
.page__cosmetics-block::after {
	content: '';
	width: 62.5rem;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 0.0625rem;
	background-color: #000000;
}
.cosmetics-block__wrapper {
	display: flex;
	flex-direction: column;
	gap: 6.25rem;
	margin-bottom: 7.375rem;
}

.cosmetics-header {
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: 2.25rem;
	text-align: center;
	line-height: 1.33;
}

.menu-cosmetics {
	display: flex;
	flex-direction: column;
	gap: 1.375rem;
	text-align: center;
	line-height: 1.31;
}
.menu-cosmetics__item {
	position: relative;
	transition: all 0.4s;
}
.menu-cosmetics__item:hover {
	transform: scale(1.1);
	color: #5a4e4e;
}
.menu-cosmetics__item::after {
	content: '';
	position: absolute;
	bottom: -0.625rem;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0.125rem;
	background-color: black;
	transition: all 0.4s;
}
.menu-cosmetics__item:hover::after {
	width: 120%;
}
.cosmetics-block__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: clamp(2.5rem, 8vw, 5.6875rem);
	row-gap: clamp(2.5rem, 8vw, 4.75rem);
}
.cosmetics-block__card {
	flex: 1 1 calc((100% - 2 * 5.6875rem) / 3);
	max-width: 12.5rem;
	flex-direction: column;
	min-width: 11.25rem;
	display: flex;
	gap: 1rem;
}
.cosmetics-block__card:hover .card-cosmetics__title {
	color: #5a4e4e;
}

.card-cosmetics__img {
	overflow: hidden;
	aspect-ratio: 200 / 208;
	position: relative;
}
.card-cosmetics__img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
	transition: transform 0.3s;
}
.card-cosmetics__img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	opacity: 0;
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.card-cosmetics__img:hover::before {
	opacity: 1;
}
.card-cosmetics__title {
	font-size: 1.25rem;
	line-height: 1.35;
	transition: all 0.3s;
}

/*==== АДАПТИВНІСЬ блоку ==== */
@media (max-width: 42.375em) {
	.cosmetics-block__cards {
		column-gap: 4.375rem;
	}
}
@media (max-width: 28.6875em) {
	.cosmetics-block__wrapper {
		gap: 3.25rem;
		margin-bottom: 3.375rem;
	}
	.page__cosmetics-block {
		padding-block: 3.9375rem 3.3125rem;
	}
}

/* ================== ФУТЕР ==================*/
.footer {
	text-align: center;
	padding-bottom: 1.25rem;
	background-color: #686767;
}
.footer__content {
	padding-bottom: 1.25rem;
}
.footer__content p {
	color: #d4d4d4;
	line-height: 1.5;
	padding: 0.625rem 0;
	letter-spacing: 0.125rem; /*відстань між літерами*/
	font-weight: 500;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
}

.footer__content--margin {
	padding-top: 1.875rem;
}

.footer__button {
	padding: 0.625rem 2.5rem;
	border-radius: 1.875rem;
	font-weight: 700;
	color: #d4d4d4;
	letter-spacing: 0.1875rem; /*відстань між літерами*/
	border: 0.125rem solid rgb(114, 114, 114);
}

.footer__button:hover {
	/*стилі при наведенні на кнопку*/
	box-shadow: 0.1875rem 0.1875rem 0.3125rem rgb(145, 145, 146);
	background-color: #b8b9b9;
}
