@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */
body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Lora", sans-serif; /*шрифт підключений  мережевий*/
  font-size: 20px; /*обраний преорітетний шрифт на сторінці*/
}

/* ЗАГАЛЬНА ОБГОРТКА*/
.wrapper {
  background-color: rgb(211, 210, 210);
  max-width: 1320px;
  margin: 0 auto;
  line-height: 1.5;
}
/* CЕЛЕКТОР АТРИБУТУ для всиз обгорток секцій */
[class*="__container"] {
  max-width: 1280px;
  margin: 0 auto;
}
/* =========== HEADER ============= */
.header__container {
  background-color: cadetblue;
}

/*===== M A I N ===== */
/* 1 - секція */
.hero__container {
  background-color: burlywood;
}
/* 3 - секція */
.products__container {
  background-color: rgb(245, 239, 156);
}
/* 3 - секція */
.partners__container {
  background-color: rgb(245, 167, 139);
}

/* ================= FOOTER================ */
.footer__container {
  background-color: rgb(76, 75, 75);
  text-align: center;
  padding: 30px 0px;
  margin: 0 auto;
}

.footer__title {
  font-size: 14px;
  color: #a5a5a5;
}

