@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */
@import url("fonts.css"); /* Підключення шрифта локально Lato 500 */

body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Montserrat", sans-serif; /*шрифт підключений  мережевий та локально lato*/
  font-size: 20px; /*найбільша кількість використаних шрифтів в макеті*/
}

/* =========== HEADER ============= */
.header-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header-container {
  max-width: 1280px;
  background: linear-gradient(
    180deg,
    rgb(0, 138, 16) 0%,
    rgb(207, 207, 206) 100%
  );
  margin: 0 auto;
  text-align: center;
  /*border: 5px solid rgb(144, 142, 142);*/
  box-shadow: 5px 5px 5px 0 #696967;
}

.hero-title {
  color: rgb(1, 1, 174);
  font-size: 35px;
  margin-bottom: 40px;
  padding: 50px 0px;
}

/* ========== M A I N ============= */
/* Обгортка */
.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
/* Контентна частина сторінки */
.main-content {
  /*background-color: rgb(252, 239, 224);*/
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.lesson_training {
  padding: 40px;
  background-color: bisque;
  margin-bottom: 40px;
  border: 5px solid rgb(144, 142, 142);
  box-shadow: 5px 5px 5px 0 #696967;
}
/*стиль для span, що є в конкретному блоці з класом link*/
.link span {
  color: rgb(139, 1, 125);
}

/* ===== 1 - HOVER =====*/
/* Стилі, що додаються для посилання з класом link при наведенні */
.link:hover {
  color: rgb(24, 117, 4);
  font-size: 28px;
  text-decoration: underline;
}

/*підсвічується різними кольорами (згідно призначення)
  все посилання при наведенні на лінк*/
.link:hover span {
  color: red;
}

/* ===== Hover для АБЗАЦу Р ===== */
/*!хавер можна застосувати до любого тега*/
.paragraph {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: bisque;
}
/* псевдоелемент, який змінює властивості абзацу при наведення */
.paragraph:hover {
  color: rgb(128, 155, 10);
  font-size: 25px;
}

/* ===== 2 - ACTIVE - в моменті утримання мишки змінюються стилі ===== */
/*рідко використовується, але добре писати*/
/* можна застосувати до любого тега*/
.active-link {
  color: darkslategray;
  background-color: rgb(200, 167, 167);
}

.active-link:active {
  color: rgb(255, 132, 0);
}

/* ===== 3 - VISITED ===== */
/*візітед - "тут вже були", ТІЛЬКИ для посилання*/

.visited-link {
  display: block;
  padding: 40px;
}
/*тобто після відвідування по посиланню, псевдоклас visited змінить колір a*/
.visited-link:visited {
  color: rgb(77, 122, 0);
}

/* ===== 4 - FOCUS ===== */
/*focus - фокусування на елементі*/
.focus-link {
  color: rgb(3, 174, 174);
  display: block;
  margin-bottom: 40px;
}
/* псевдоклас focus, підсвічує рамку зовнішню для наглядності поля фокусу  */
.focus-link:focus {
  outline: 2px solid red;
}

/* ===== 4-1 - FOCUS-visible (видимий)===== */

.focus-visible-link {
  color: rgb(0, 98, 255);
  display: block;
  margin-bottom: 40px;
}
/* рамка підсвічується вказним кольором, при активуванні ТАВ */
.focus-visible-link:focus-visible {
  outline: 2px solid rgb(169, 8, 228);
}

/* ====== 5 - TARGET ціль ===== */
/* TARGET - використовували на уроці 2 */
/*тільки для посилань*/

.target-content {
  background-color: rgb(94, 97, 140);
  margin-bottom: 40px;
  border: 5px solid rgb(144, 142, 142);
}
/* Посилання */
.target-link {
  color: rgb(249, 248, 247);
  display: block;
  padding: 20px 0px;
}
.block-target {
  max-width: 700px;
  background-color: burlywood; /*це початковий колір блоку*/
  border: 5px solid red;
  border-radius: 20px;
  font-size: 35px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
}

/*таргет (ціль) застосовано до посилання на об"єкт,
який потім змінює стиль (колір, розмір і т.д) і
прокручує сторінку, щоб вказаний елемент був зверху сторінки */

/*це колір блоку - після активації посилання*/
.block-target:target {
  background-color: rgb(2, 159, 170);
}

/* ====== 6 - ПСЕВДОКЛАСИ ПОЛОЖЕННЯ В КОДІ (перший, третій, через, якийсь, n-й) ===== */
/* Стиль блоку */
.position-code-block {
  padding: 15px;
  background-color: cadetblue;
  font-size: 25px;
  text-align: left;
  border: 5px solid rgb(144, 142, 142);
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgb(209, 237, 83) 100%
  );
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px 0 #696967;
}
/* Стиль підзаголовку */
.subtitle-position {
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(35, 35, 35);
  line-height: 1.5;
  text-decoration-line: underline;
}
/* відступи нижні для всих блоків р, 
що є в блоці з класом "position-code-block" */
.position-code-block p {
  margin-bottom: 10px;
}

/* тільки для ПЕРШОГО елементу  (незалежно від типу тегу) */
.position-code-block p:first-child {
  color: crimson;
}

/* тільки для ПЕРШОГО елементу "р" (серед ОДНОГО ТИПУ (type) тегу "р") */
.position-code-block p:first-of-type {
  color: rgb(20, 220, 97);
}

/* тільки для ОСТАННЬОГО елементу "р" (незалежно від типу тегу) */
.position-code-block p:last-child {
  color: rgb(2, 113, 133);
}

/* тільки для ОСТАННЬОГО елементу "р" (серед ОДНОГО  ТИПУ (type) тегу "р") */
.position-code-block p:last-of-type {
  color: rgb(20, 220, 97);
}

/* ==== "NTH" від англ. h-th, на українській "n-ий"=====  */
/* nth-child звернення до конкретного елемента по номеру,  
стилізується 3-й елемент в основному потоці*/
.position-code-block p:nth-child(3) {
  /*але окрасився другий по факту*/
  color: rgb(56, 42, 165);
}
/*стилізується 3-й із одного вказаного типу*/
.position-code-block p:nth-of-type(3) {
  color: blanchedalmond;
}
/* ====== EVEN - парний ODD - непарний */
/* АЛГОРИТМИ стилізації для таблиць корисно*/
/*всі парні елементи*/
.position-code-block p:nth-child(even) {
  color: rgb(255, 255, 20);
}

/*всі непарні елементи*/
.position-code-block p:nth-child(odd) {
  color: rgb(186, 1, 1);
}

/* ==== АЛГОРИТМИ "КОЖЕН_ЧЕРЕЗ" ====*/
/*кожен 3-й елемент*/
.position-code-block p:nth-of-type(3n) {
  color: rgb(42, 16, 186);
}

/*кожен 4-й елемент починаючи з другого*/
.position-code-block p:nth-of-type(4n + 2) {
  color: rgb(249, 249, 249);
}

/*========== 7 - N O T умова "виключення" ==========*/
/* NOT стилізує всі окрім вказаних в дужках*/
.no-block {
  background-color: bisque;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
  padding: 40px 0px 20px 20px;
  margin-bottom: 40px;
  border: 5px solid rgb(144, 142, 142);
  box-shadow: 5px 5px 5px 0 #696967;
}
.subtitle-no-block {
  font-size: 30px;
  color: rgb(2, 74, 168);
  margin-bottom: 20px;
}

/*властивості тільки для "p" в блоці з класом "no-block"*/
.no-block p {
  margin-bottom: 10px;
}
/* умова: стилізуй всі ОКРІМ "no-block-exc"*/
.no-block p:not(.no-block-exc) {
  color: rgb(2, 91, 91);
}

/*========== 8 - H A S умова "наявності" ==========*/
/*"HAS" від англ. "мають" умова наявності*/
/* HAS - стилізує всі об'єкти де є елемент з вказаним класом в (дужках) */
/*Використовується, як умова для побудови конструкцій та алгоритмів*/

.hes-block {
  text-align: left;
  margin-bottom: 40px;
  background-color: rgb(210, 210, 210);
  padding: 40px 0px 20px 20px;
  line-height: 1.2;
  border: 5px solid rgb(144, 142, 142);
  box-shadow: 5px 5px 5px 0 #696967;
}
.subtitle-hes-block {
  font-size: 30px;
  color: rgb(235, 65, 3);
  margin-bottom: 20px;
}
/* Умова: стилізуй всіх, де є НАВНІСТЬ "has-block-exc" */
.hes-block:has(.has-block-exc) {
  color: rgb(223, 8, 155);
}

/* ======  9 -  ПРАКТИКА =================== */
/*============== ЯКІСНА КОНСТРУКЦІЯ відступів ==================*/
/* ПРАКТИКА- див відео 1:28:00, логічно */
/*Cистема відступів, КОНСТРУКЦІЯ, яка буде працювати,
незалежно, чи зміниться почерговість розміщення елементів (заголовок, параграф, посилання)*/
/* ===== Приклад використання псевдоелементів для відступів в списку
коли в усіх рядків в списку є відступи, а у останнього немає ==== */
.one-block {
  padding: 15px;
  background-color: rgb(83, 139, 171);
  margin-bottom: 40px;
  border: 5px solid rgb(144, 142, 142);
  box-shadow: 5px 5px 5px 0 #696967;
}
.one-block > * {
  /*">"  - ці властивості ДО БУДЬ-ЯКОГО ТЕГА ПЕРШОГО
	рівня вкладенності і зірочка - надаються для всих */
  margin-bottom: 16px;
}

.one-block__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 34px; /*т.я біля заголовка більший відступ, то ми його переписуємо, як 
преорітетний (і він буде головніший)*/
  color: rgb(222, 222, 221);
}
.one-block__text {
  line-height: 1.5;
  font-size: 25px;
}
.one-block__link {
  color: rgb(227, 242, 10);
  font-size: 25px;
}

.one-block > *:last-child {
  margin-bottom: 0; /*тут відміняємо ВЗАГАЛІ margin-bottom для ОСТАННЬОГО елемента
	і тепер, якби блоки не мянятися самий нижній елемент буле завжди без
	нижнього відступа*/
}

/* =============== 10 - ПСЕВДОЕЛЕМЕНТИ ================== */
/*Можна застосовувати для ВСИХ елементів*/
/*Можна додавати текст, зображення, фігури: попереду та позаду елементу */

.block-item {
  background-color: bisque;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 5px solid rgb(144, 142, 142);
  margin: 0 auto;
  margin-bottom: 40px; /* якщо ===margin- 0 auto=== розмістити ПІД ===margin-bottom-40px===,
  то нижній відступ перезапишеться 0 */
  box-shadow: 5px 5px 5px 0 #696967;
}

.block-item-subtitle {
  font-size: 25px;
  margin-bottom: 20px; /*відступ для заголовка*/
}
.one-row {
  font-size: 25px;
  color: brown;
}
/* Задаємо "ДО" */
.one-row::before {
  content: "запис ДО===";
}

/* Задаємо "ПІСЛЯ" */
.one-row::after {
  content: "==запис ПІСЛЯ";
}

/* ===== 11 - Приклад додавання графічного зображення з допомогою використання
 псевдоелементів before та додавання відступів однакових, окрім кінцевого ==== */

.block-list {
  text-align: left;
  padding: 20px;
  background-color: rgb(218, 255, 196);
  max-width: 700px;
  margin: 0 auto;
  border: 5px solid rgb(144, 142, 142);
  margin-bottom: 40px;
  box-shadow: 6px 6px 6px 0 #545353;
}
/*підзаголовок*/
.block-list-subtitle {
  color: rgb(1, 40, 21);
  margin-bottom: 20px;
  font-size: 25px;
}
/*список*/
.list__item {
  color: midnightblue;
}

/*через css можна створити додатковий графічний елемент
та з допомогою before додаємо його ПЕРЕД текстом*/
.list__item::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 10px;
  background-color: cadetblue;
  vertical-align: middle; /* вертикальне вирівнювання*/
  margin-right: 10px;
}

/*!Запис говорить "назначити відступ ВСИМ", окрім останнього*/
/*Це приклад для !ОДНАКОВИХ відступів*/
.list__item:not(:last-child) {
  margin-bottom: 20px;
}

/* ======= 12 - Приклад з використанням псевдоелементів, opacity, transition
для ефектної появи підкреслення заголовка на 80% ========== */

.title {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(247, 248, 247);
  padding: 30px 40px;
  background-color: rgb(0, 0, 252);
  margin-bottom: 40px;
  border: 5px solid rgb(144, 142, 142);
  box-shadow: 5px 5px 5px 0 #696967;
}

.title::after {
  content: "";
  height: 4px;
  display: block; /*щоб лінія не була в рядок, а була знизу*/
  /*width: 80%;*/
  background-color: rgb(239, 62, 3);
  margin-top: 15px; /*це верхній відступ від лінії до заголовку*/
  /*opacity: 0;*/
  width: 0%; /*початкова ширина для транзишин*/
  transition: width 0.8s; /*повільне появлення лінії*/
  /*лінія, щою ефектно з'являтися ПІСЛЯ наведення на неї**/
  /*margin-bottom: 30px;*/
}

/*тут буде лінія зявлятися ПІСЛЯ наведення на неї*/
/*.title:hover::after{
	opacity: 1;
}*/

/*тут буде лінія ефектно з'являтися, ПІСЛЯ наведення на неї*/
.title:hover::after {
  width: 80%;
}

/*========== 13 Д/З: С П И С О К  =======*/
.training-list {
  max-width: 1280px;
  margin: 0 auto;
  background-color: bisque;
  box-shadow: 5px 5px 5px 0 #696967;
}

.list-container {
  max-width: 350px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px 0 #696967;
  margin-bottom: 40px;
}

.list-check {
  max-width: 270px;
  margin: 0 auto;
}

.list-check li {
  line-height: 1.71; /*частина, як співвідношення бажаної висоти рядка до висоти шрифту */
  color: #252b42;
  font-size: 14px;
  font-weight: 600; /*підключено в html*/
  letter-spacing: 0.2px;
}

.list-check li::before {
  content: "";
  width: 32px;
  height: 32px;
  padding-left: 42px; /*для зміщення тексту вправо від зображення*/
  vertical-align: middle;
}

/*В цьому блоці: надати відступи для всих пунктів, окрім останнього*/
.list-check > *:not(:last-child) {
  margin-bottom: 15px;
}

/*ВІДМІННІСТЬ іконки в кольорі*/
.list-item-green::before {
  content: "";
  background: url("../icons/check_badge_green.svg") 0 0 no-repeat; /*Загальна запис: картинка, позиція, повторення*/
  /*background-size: ;*/
}

.list-item-gray::before {
  content: "";
  background: url("../icons/check_badge_gray.svg") 0 0 no-repeat; /*Загальна запис: картинка, позиція, повторення*/
}

/*========== 14 - GAME  =========================*/
.section-game {
  max-width: 1280px;
  background-color: burlywood;
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 5px 5px 0 #696967;
  color: #e3e3e1;
}
.game-title {
  font-size: 35px;
  font-weight: 800;
  color: rgb(80, 2, 2);
  padding: 20px 0px;
}
.game-container {
  max-width: 800px;
  height: 800px;
  background-image: url("../img/background_yellow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 7px 7px 7px 0 #696967;
  margin: 0 auto;
}

/*вмикається невидимість блоків загальна (видимість буде лише з наведенням)*/
/*всі блоки приховані*/

.game-item {
  visibility: hidden;
}

/*видимість блоку активного та наступного блоку при наведенні на перший*/
.game-item:hover,
.game-item:hover + .game-item {
  visibility: visible;
}

/*===Перший блок стартовий===*/
.game-item:first-child,
.game-item:last-child {
  width: 100px;
  height: 100px;
  background: url("../img/background_green.jpg") 0 0 / cover no-repeat;
  padding-top: 40px;
  visibility: visible; /*цей блок видимий*/
}

/* ====ОПИС БЛОКІВ по координатах=== */
.block-2 {
  width: 100px;
  height: 30px;
  margin-left: 100px;
  background-color: rgb(166, 255, 1);
}
.block-3 {
  width: 30px;
  height: 260px;
  margin-left: 170px;
  background-color: rgb(1, 247, 95);
}
.block-4 {
  width: 380px;
  height: 30px;
  margin-left: 170px;
  background-color: rgb(64, 3, 248);
}
.block-5 {
  width: 30px;
  height: 250px;
  margin-left: 520px;
  background-color: rgb(246, 3, 157);
}
.block-6 {
  width: 100px;
  height: 30px;
  margin-left: 450px;
  background-color: rgb(58, 175, 3);
}

/*зміщення фінішного блоку вліво*/
.game-item:last-child {
  margin-left: 350px;
}

/* ================= FOOTER================ */
.footer-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.footer-container {
  max-width: 1280px;
  background-color: rgb(76, 75, 75);
  text-align: center;
  padding: 30px 0px;
  margin: 0 auto;
}

.title-footer {
  font-size: 14px;
}
