/* Обнулення усіх елементів (*) і усіх псевдоелементів (::before і ::after). */
*,
*::before,
*::after {
	padding: 0; /* прибирає внутрішні відступи у всіх елементів */
	margin: 0;
	border: none; /*не застосовувати обводку*/
	box-sizing: border-box; /* включає padding і border у ширину та висоту елементів */
}
/*ці псевдоелементи є рядкові і їх треба перевести в блочно-рядкові*/
*::before,
*::after {
	display: inline-block;
}

a {
	/*Обнулення посилань*/
	text-decoration: none; /* прибирає стандартне підкреслення у посилань */
	color: inherit; /* робить колір тексту посилання таким самим, як у батьківського елемента */
	/*display: inline-block; посилання <a> буде блочним-строчним і можна застосувати відступи,
   але буде вибудовано в рядок. як рядковий тег*/
	display: inline-block; /*a - є рядковим елементом і для надання властивості ширини
	 необхідно (в коді) переводити в блочно - рядковий. В цьому файлі ліпщше зробити автоматично*/
}

li {
	list-style: none; /* прибирає стандартні маркери у списків (кружечки, цифри тощо) */
}
img {
	max-width: 100%; /* зображення не буде виходити за межі батьківського контейнера і буде адаптивним */
	vertical-align: middle; /* прибирає небажані відступи знизу біля inline-зображень */
}
html,
body {
	height: 100%; /* задає висоту html і body на весь екран */
	line-height: 1; /* Для всих текстів - висота рядка, - щоб не було зайвих відступів між рядками*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit; /* скидає жирність заголовків (успадковується від батьківського елемента) */
	font-size: inherit; /* прибирає дефолтні розміри для заголовків*/
	font-family: inherit; /* прибирає дефолтний шрифт заголовків, залишає такий самий як у body */
}

input, /*однорядковий ввід даних*/
textarea/*багаторядковий ввід даних*/ {
	/*для ввводу данних*/
	width: 100%;
	font-weight: inherit; /*примусово змушуємо успадковуваи для зручності*/
	font-style: inherit;
	font-family: inherit;
}
label {
	display: inline-block; /*передід до блочно-рядкового типу*/
}

button {
	background-color: transparent; /*обнулення фону для кнопки*/
}

button,
input[type="checkbox"], /*зміна курсора на ручку*/
input[type="radio"] {
	cursor: pointer;
}
