@import url('reset.css'); /* Файл обнулення стилів, розписаний по функціоналу */
/* Локальне підключення шрифтів */
@import url(fonts.css); /*файл додатковиш шрифтів, автономних, що зберігаються в папці*/

body {
	/*шрифти за замовчуванням - найбільш застосовані на сторінці*/
	font-family: 'Lato', sans-serif; /*шрифт підключений  мережевий*/
	font-size: 16px; /*обраний пріорітетний шрифт на сторінці*/
	line-height: 1.25;
	color: #2f302c;
	background-color: #fff;
}

/* ЗАГАЛЬНА ОБГОРТКА_ !ЗАВЖДИ ці властивості писати */
.wrapper {
	position: relative; /* позиціонування від Wrapper */
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}
/*=== Властивість для блоку main, що входить до обгортики wrapper*/
.wrapper > main {
	flex-grow: 1; /*"Const" для всих блоків "MAIM" на сторінці,
   "1"-тобто, завжди зростає на всю вільну висоту в*юпорта */
}

/* Обмежуючий контейнер */
[class*='__container'] {
	margin: 0 auto;
	max-width: 1422px; /*1392+15+15=1422*/
	padding-left: 15px; /*відступи безпеки*/
	padding-right: 15px; /*відступи безпеки*/
}

/*======== Хедер ========================*/
.header {
	position: sticky; /* "липкий" хедер */
	top: 0;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
	font-weight: 700;
	text-transform: uppercase;
}
.header__container {
	display: flex; /*гнучкий блок*/
	column-gap: 80px; /*відступ мі*/
	min-height: 164px; /*мінімальна висота*/
	padding-block: 5px;
	align-items: center;
}
.header__search {
	flex-basis: 264px; /*для блоку задаємо стартову ширину*/
}
.header__menu {
	flex-grow: 1; /*меню може займати весь вільний простір*/
}
.header__burger {
	display: none; /*бургер не показувати*/
}

/* Медіа-запити до зміни стилів*/
@media (width <=1442px) {
	.header__container {
		min-height: 120px; /*контейнер зменшує свою висоту*/
		column-gap: 25px;
	}
}
@media (width <=1200px) {
	.header__search {
		flex-basis: 190px;
	}
}
@media (width <=992px) {
	.header__container {
		min-height: 100px; /*контейнер зменшує свою висоту*/
	}
}

@media (width < 768px) {
	/*МОБІЛЬНА версія*/
	.header__container {
		min-height: 70px; /*контейнер зменшує свою висоту*/
	}
	.header__search {
		flex-grow: 1; /*кнопка пошуку стає більшою і займає весь простір*/
	}
	.header__burger {
		display: block; /*кнопка бургеру стає видима*/
	}
	.header__logo,
	.header__search,
	.header__actions,
	.header__burger {
		position: relative;
		z-index: 6; /*кнопки меню виходять на передній план*/
	}
}
@media (width < 480px) {
	.header__container {
		column-gap: 15px; /*зменшується відстань між елементами*/
	}
}

/*============= Логотип ============*/
.logo__img {
	width: 200px;
	max-width: none;
}

/* Адаптив для логотипу */
@media (width <=992px) {
	.logo {
		width: 37px;
		flex-shrink: 0; /*заборона на збільшення*/
		overflow: hidden;
	}
}
@media (width < 480px) {
	.logo {
		width: 28px; /*логотип зменшується*/
	}
	.logo__img {
		width: 154px;
	}
}

/* ==== Форма пошуку ==================*/
.search {
	display: flex;
	column-gap: 12px;
	border-bottom: 1px solid #d4d4d4;
}
.search__button {
	min-width: 20px; /*ширина кнопки*/
	background: url('../icons/search.svg') center no-repeat;
}
.search__input {
	height: 43px; /*висота рядка для пошуку*/
	background-color: transparent; /*прозорість фону*/
}
.search__input::placeholder {
	/*стилі підказки*/
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #7e7f7c;
}

/* Запити для зміни стилів */
@media (width < 480px) {
	.search {
		column-gap: 5px;
	}
}
@media (width < 375px) {
	.search {
		/*блок форми*/
		border: 1px solid #d4d4d4;
		overflow: hidden; /*все зайве приховати*/
	}
	.search__button {
		/*іконка пошуку*/
		display: none; /*не показувати*/
	}
	.search__input {
		/*поле вводу пошука*/
		height: 33px;
		padding-left: 8px;
		font-size: 14px;
		font-weight: 400;
	}
	.search__input::placeholder {
		font-size: 13px;
	}
}
/* ==== Навігаційне меню ============== */
.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center; /*центруються по вертикалі*/
	column-gap: 44px; /*горизонтальні відступи*/
	row-gap: 10px; /*вертикальні відступи*/
}
.menu__link {
	transition: all 0.3s;
}
.menu__link:hover {
	opacity: 0.5; /*при наведення стають напівпрозорі*/
}

/* Запити для зміни стилів */
@media (width <=1442px) {
	.menu__list {
		justify-content: center;
		column-gap: 25px;
	}
}
@media (width <=992px) {
	.menu__list {
		column-gap: 20px;
	}
}
/*Запити для МОБІЛЬНОЇ версії*/
@media (width < 768px) {
	.menu {
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color: #f6f6f6; /*фон полотна для збільшенного меню*/
		z-index: 5;
		overflow: auto;
		transition: all 0.3s;
		padding: 120px 15px 30px 15px;
	}
	.menu::before {
		content: '';
		position: fixed;
		top: 0;
		left: 100%;
		width: 100%;
		height: 70px;
		background-color: #fff;
		z-index: 6;
	}

	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 30px;
	}
	.menu__link {
		font-size: 28px;
	}
}

/* ==== Кнопки дії ====================== */
.actions__list {
	display: flex;
	align-items: center;
	column-gap: 44px;
}
.actions__link {
	display: block;
	padding-left: 24px;
	transition: all 0.3s;
}
.actions__link--love {
	background: url('../icons/heart.svg') left no-repeat;
}
.actions__link--cart {
	background: url('../icons/cart.svg') left no-repeat;
}
.actions__link:hover {
	opacity: 0.5;
}

/* Запити для зміни стилів */
@media (width <=1442px) {
	.actions__list {
		column-gap: 25px;
	}
}
@media (width <=992px) {
	.actions__list {
		column-gap: 20px;
	}
}
@media (width < 768px) {
	/*МОБІЛЬНА версія*/
	.actions__link {
		width: 25px;
		aspect-ratio: 1; /*співідношення сторін*/
		padding-left: 0;
		font-size: 0;
		background-size: contain;
	}
}
@media (width < 480px) {
	.actions__link {
		width: 21px;
		column-gap: 15px;
	}
}

/* ==== Бургер ========================== */
.burger {
	position: relative;
	width: 30px;
	height: 18px;
}
.burger span,
.burger::before,
.burger::after {
	content: '';
	position: absolute;
	right: 0;
	height: 2px;
	width: 100%;
	background-color: #2f302c;
	transition: all 0.3s;
}
.burger::before {
	top: 0;
}
.burger::after {
	bottom: 0;
}
burger span {
	top: 50%;
	transform: translateY(-50%);
}

/* Побудова динамічних ліній */
@media (width < 768px) {
	[data-menu-open] .burger span {
		width: 0;
	}
	[data-menu-open] .burger::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .burger::after {
		rotate: 45deg;
		bottom: 50%;
		translate: 0 50%;
	}
}

/*==================== M A I N ==================*/
.hero {
	position: relative; /*стартовий блок для позиціонування елементів в середині*/
	padding-top: 114px;
	padding-bottom: 110px;
	color: #2f302c;
}

.hero__container {
	position: relative; /*для активації z-index*/
	z-index: 3; /*текст на передній план*/
}
/* Головне зображення */
.hero__banner {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
}
.hero__content {
	max-width: 650px;
	margin-left: auto; /*заповнює вільний простір зліва на право*/
}

.hero__content > * {
	/*===   ">*"  - стосується всих прямих дочірних елементів */
	margin-bottom: 20px;
}

.hero__content > *:last-child {
	/*вибирає останній елемент серед дочірніх*/
	margin-bottom: 0;
}

/*Підзаголовок*/
.hero__subtitle p {
	/*властивості для параграфу, що розміщений в діві*/
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
}
.hero__title {
	/*ЗАГОЛОВОК*/
	position: relative;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 52px;
	font-size: 96px;
	font-weight: 800;
	line-height: 1;
	text-transform: uppercase;
}
.hero__title::after {
	/*лінія підкреслення*/
	content: '';
	position: absolute;
	display: block;
	bottom: -16px;
	left: 10px;
	width: 47.38%;
	height: 1px;
	background-color: #2f302c;
}
.hero__accent {
	font-weight: 700;
}
.hero__text p {
	/*властивості для параграфу р*/
	max-width: 374px;
	font-weight: 500;
	line-height: 1.25;
	color: #7e7f7c;
}
/*властивість на випадок додаткового абзацу*/
.hero__text p:not(:last-child) {
	margin-bottom: 10px;
}

/*============== ЗАПИТИ для зміни стилів 768 ======================*/
/*при екрані в 768рх, зміняться стилі головного зображення та тексту*/
@media (width <=768px) {
	.hero {
		padding-top: 50px;
		padding-bottom: 50px;
		color: #181818; /*зміна кольору шрифтів при меншому екрані*/
	}

	.hero__banner {
		/*зміщення фокусу зображення вліво на моб. версіях*/
		object-position: 25% center;
	}
	.hero__content {
		margin-left: 10px;
	}
	.hero__title::after {
		background-color: #1f1f1f;
	}
	.hero__text p {
		color: #4a4a4a;
	}
	.hero::after {
		/*Додається маска на головне зображення для моб. версії*/
		content: '';
		position: absolute;
		/*inset: 0; - коротка запис: притиснуто до 4-х країв блоку*/
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(91, 125, 148, 0.5); /*Маска*/
		z-index: 2; /*прошарок для маски*/
	}
}

/*========= Запити для зміни стилів  580 ===============*/

@media (width <=580px) {
	.hero__title {
		font-size: 55px;
	}
}
@media (width <=375px) {
	.hero__title {
		font-size: 40px;
	}
	.hero__subtitle p {
		font-size: 16px;
	}
}

/* ================== ФУТЕР =====================*/
.footer {
	text-align: center;
	padding-bottom: 20px;
	background-color: #686767;
}
.footer__content {
	padding-bottom: 20px; /*відступи для внутрішнього контенту*/
}
.footer__content p {
	color: #d4d4d4;
	line-height: 1.5;
	padding: 10px 0;
	letter-spacing: 2px; /*відстань між літерами*/
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.footer__content--margin {
	padding-top: 30px;
}

.footer__button {
	padding: 10px 40px;
	border-radius: 30px;
	font-weight: 700;
	color: #d4d4d4;
	letter-spacing: 3px; /*відстань між літерами*/
	border: 2px solid rgb(114, 114, 114);
}

.footer__button:hover {
	/*стилі при наведенні на кнопку*/
	box-shadow: 3px 3px 5px rgb(145, 145, 146);
	background-color: #7f98b4;
}
