@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */

@import url("fonts.css");

body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Lato", sans-serif; /*шрифт підключений  мережевий та локально*/
  font-size: 16px; /*найбільша кількість використаних шрифтів в макеті*/
}

header {
  background-color: rgb(243, 235, 225);
}

.top-content {
  max-width: 1920px; /*максимально можлива ширина блоку (зменшуватися може, збільшуватися - ні)*/
  margin: 0 auto; /*центрування блоку*/
  /*!ПРАВИЛО: зовнішні відступи margin задавати "зверху - вниз" та "зліва - направо", 
  для уникнення небажаного "ефекту накладання"*/
  text-align: center; /*вирівнювання тексту по центру для всього блоку, !наслідується.*/
  padding-top: 30px; /*внутрішній відступ */
  margin-bottom: 82px; /*зовнішній відступ між блоками*/
}

.hero-title {
  font-weight: 700; /*шрифт мережевий*/
  font-size: 35px;
  color: rgb(17, 17, 103);
  text-transform: uppercase; /*всі літери великі*/
  text-decoration-line: underline; /*підкреслення*/
  text-decoration-color: rgb(122, 122, 209); /*колір підкреслення*/
  letter-spacing: 5px; /*задає відстань між літерами*/
}

ul {
  font-size: 30px;
  margin: 0 auto; /*центрування блоку*/
  color: rgb(91, 91, 93);
}

li {
  margin-bottom: 10px; /*нижній відступ між пунктами*/
  text-align: center;
}

.hero-img {
  margin: 0 auto; /*центрування блоку з зображенням*/
}

/*=== ГОЛОВНА частина контенту === */

.main-content {
  max-width: 1920px; /*максимально можлива ширина блоку (зменшуватися може, збільшуватися - ні)*/
  margin: 0 auto;
}

/* ПОБУДОВА БЛОКУ З КАРТКАМИ  */

/*---Окрема секція сторінки--- */
.section {
  max-width: 1200px; /*максимально можлива ширина блоку (зменшуватися може, збільшуватися - ні)*/
  margin: 0 auto; /*ЦЕНТРУВАННЯ БЛОКУ*/
  margin-bottom: 14px; /*відступ зовнішний вниз до футера, по схемі: "зверху-вниз"*/
  text-align: center; /*Вирівнювання вказувати в верньому блоці один раз, якщо всі текстові та рядкові елементи 
	будуть по центру (плюс img)*/
}

.section-title {
  font-weight: 800; /*шрифт локальний*/
  font-size: 32px;
  margin-bottom: 72px; /*зовнішній відступ до блоку карток*/
}

/*=== Блок карток ===*/
.wrapper-box {
  font-size: 0; /*виключення "нульових" пробілів, 
	щоб елементи вибудувалися в ряд*/
  margin-left: -34px; /*від*ємний мержин, що розширює блок зліва*/
  margin-right: -34px; /*від*ємний мержин, що розширює блок справа*/
}

/* === КАРТОЧКА === */
.card {
  /*background-color: chartreuse;*/
  display: inline-block; /*тренувально: переведення блоку в формат блочно-рядкового
  елементу для побудови в рядок*/
  /*DISPLAY- властивість "показувати", "відображати"*/
  width: 33.333%; /*!задаємо відсоток (від бальківського блоку), 1/3 місця,
  що займатиме кожна карточка*/
  font-size: 16px; /*цей розмір шрифта пов*язанний з font-size: 0; батьківського блоку, 
  якщо його прибрати (згідно 16px в body), то зникає текстова частина карточки */
  vertical-align: top; /*!вирівнювання елементів по вертикалі зверху*/
  padding-left: 34px; /*внутрішній відступ і компенсація від*ємного маржіна, -15рх, в батьківському блоці*/
  padding-right: 34px;
  margin-bottom: 68px; /*нижній зовнішній відступ карточки*/
}

.card-content {
  /*text-align: center; центрування текстової (рядкової) частини карточки*/
  /*background-color: rgb(110, 242, 240);*/
}

.card-title {
  /*Заголовок карточки*/
  font-family: "Lato", sans-serif; /*шрифт з Goodle fonts*/
  font-weight: 700;
  line-height: 1.25;
  /*font-size: 16px;*/ /*значення розміру шрифта вказано в body*/
  margin-bottom: 24px;
  /*text-transform: capitalize; Кожне слово починається з великої літери.*/
}

.icon {
  /*max-width: 100%; ця властивість вказана в файлі RESET*/
  max-width: 52px; /*максимальні розміри зображення для іконки*/
  margin-bottom: 24px; /*зовнішній відступ вниз до блоку <Н2>*/
}

.card-description p {
  font-weight: 500; /*шрифт підключений локально*/
  color: #7e7f7c;
  line-height: 1.25; /*висота рядка виражена в частинах, для гнучкості*/
}

/* ======= ПРАКТИЧНІ роботи з уроку ======= */
.training {
  background-color: #d7d4d4;
  max-width: 1920px;
  margin: 0 auto;
}

/* ===== Властивість overflow - "переповнення" ====== */
.test-overflow-scroll {
  max-width: 1200px;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px 17px; /*внутрішні виступи для додавання простору (верх/низ, зліва/справа*/
  line-height: 1.5; /*висота рядка виражена в частинах, для гнучкості*/
  max-height: 250px; /*!обмеження висоти дозволяє використати скрол, рідко використовується*/
  overflow: auto; /*при переповненні контейнеру, автоматично підключається властивість
  прокручування змісту*/
}

/* ====== Ф У Т Е Р ====== */
footer {
  background-color: rgb(243, 235, 225);
}
.wrapper-description p {
  max-width: 1920px;
  text-align: center; /*властивість наслідується для всих рівнів тексту та рядкових елементів (плюс img)*/
  font-size: 18px;
  line-height: 1.5;
  color: rgb(49, 50, 52);
  margin: 0 auto;
  padding-top: 20px; /*внутрішній відступ зверху додає простору між тексом*/
  padding-bottom: 20px; /*внутрішній відступ знизу додає візуального простору*/
}

a {
  display: block; /* треновочно: переведення рядкового тегу - в блочний, 
	для надання властивостей блоку*/
  font-size: 18px;
  color: rgb(0, 26, 255);
  text-decoration-line: underline; /*підкреслення*/
  margin-top: 5px; /*верхній зовнішній відступ*/
  margin-bottom: 10px; /*нижній зовнішній відступ*/
}
