@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */

/* !ЛОКАЛЬНЕ підключення спец-шрифтів */
@import url("fonts.css");

body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Lato-Medium", sans-serif; /*шрифт підключений локально*/
  /*sans-serif-це тип схожого шрифта "рубленного" для запасного завантаження*/
  font-size: 16px; /*найбільша кількість використаних шрифтів в макеті*/
}

header {
  max-width: 1920px; /*максимально можлива ширина блоку (зменшуватися може, збільшуватися - ні)*/
  margin: 0 auto; /*центрування блоку*/
  margin-bottom: 82px; /*зовнішній відступ між блоками*/
  /*!ПРАВИЛО: зовнішні відступи margin задавати "зверху - вниз" та "зліва - направо", 
  для уникнення небажаного "ефекту накладання"*/
  background-color: rgb(243, 235, 225);
}

h1 {
  font-family: "Lato", sans-serif; /*шрифт Google fonts*/
  font-weight: 700; /*насиченність шрифту*/
  font-size: 45px;
  color: rgb(17, 17, 103);
  text-align: center; /*вирівнювання тексту по центру*/
  text-decoration-line: underline; /*підкреслення*/
  text-decoration-color: rgb(122, 122, 209); /*колір підкреслення*/
  margin-bottom: 2%; /*відступ зовнішній знизу, выд ширини батькывського блоку*/
  /*background-color: rgb(254, 254, 254);*/
  letter-spacing: 5px; /*задає відстань між літерами*/
}

ul {
  /*max-width: 500px;*/
  font-size: 30px;
  margin: 0 auto; /*центрування блоку*/
  color: rgb(91, 91, 93);
}

li {
  margin-bottom: 10px; /*нижній відступ між пунктами*/
  text-align: center;
}

.hero-img {
  margin: 0 auto; /*центрування блоку з зображенням*/
  /*max-width: 1910px; блок має бути меншим за батьківський блок, 
для можливості центрування*/
}

/*=== ГОЛОВНА частина контенту === */
main {
  max-width: 1920px; /*максимально можлива ширина блоку (зменшуватися може, збільшуватися - ні)*/
  margin: 0 auto;
}

/* ПОБУДОВА БЛОКУ З КАРТКАМИ  */

/*---Окрема секція сторінки--- */
.section {  
  /*background-color: rgb(249, 248, 169);*/
  max-width: 1200px; /*максимально можлива ширина блоку (зменшуватися може, збільшуватися - ні)*/
  margin: 0 auto; /*ЦЕНТРУВАННЯ БЛОКУ*/
  margin-bottom: 14px; /*відступ зовнішний вниз до футера, по схемі: "зверху-вниз"*/
}

h2 {
  font-family: "Lato-ExtraBold", sans-serif; /*шрифт підключений локально*/
  font-weight: 800; /*насиченність шрифту*/
  font-size: 32px;
  text-align: center;
  margin-bottom: 72px; /*зовнішній відступ до блоку карток*/
}

/*=== Блок карток ===*/
.wrapper-box {
  /*background-color: cadetblue;*/
  font-size: 0; /*виключення "нульових" пробілів, 
	щоб елементи вибудувалися в ряд*/
  margin-left: -34px; /*від*ємний мержин, що розширює блок зліва*/
  margin-right: -34px; /*від*ємний мержин, що розширює блок справа*/
}

/* === КАРТОЧКА === */
.card {
  /*background-color: chartreuse;*/
  display: inline-block; /*тренувально: переведення блоку в формат блочно-рядкового
  елементу для побудови в рядок*/
  /*DISPLAY- властивість "показувати", "відображати"*/
  width: 33.333%; /*!задаємо відсоток (від бальківського блоку), 1/3 місця,
  що займатиме кожна карточка*/
  font-size: 16px; /*цей розмір шрифта пов*язанний з font-size: 0; батьківського блоку, 
  якщо його прибрати (згідно 16px в body), то зникає текстова частина карточки */
  vertical-align: top; /*!вирівнювання елементів по вертикалі зверху*/
  padding-left: 34px; /*внутрішній відступ і компенсація від*ємного маржіна, -15рх, в батьківському блоці*/
  padding-right: 34px;
  margin-bottom: 68px; /*нижній зовнішній відступ карточки*/
}

.card-content {
  text-align: center; /*центрування текстової (рядкової) частини карточки*/
  /*background-color: rgb(110, 242, 240);*/
}

h3 {
  /*Заголовок карточки*/
  font-family: "Lato", sans-serif; /*шрифт з Goodle fonts*/
  font-weight: 700;
  line-height: 1.25;
  /*font-size: 16px;*/ /*значення розміру шрифта вказано в body*/
  margin-bottom: 24px;
  /*text-transform: capitalize; Кожне слово починається з великої літери.*/
}

.icon {
  /*max-width: 100%; ця властивість вказана в файлі RESET*/
  margin-bottom: 24px; /*зовнішній відступ вниз до блоку <Н2>*/
}

p {
  font-family: "Lato-Medium", sans-serif; /*Шрифт підключений локально*/
  font-weight: 500; /*Насиченність шрифту*/
  color: #7e7f7c;
  line-height: 1.25; /*висота рядка виражена в частинах, для гнучкості*/
  /*font-size: 16px;*/ /*значення розміру шрифта вказано в body*/
  /*text-transform: capitalize; Кожне слово починається з великої літери, але в макеті не кожна частинка*/
}

/* ======= Практичні роботи з уроку ======= */

.training {
  background-color: #d7d4d4;
  max-width: 1920px;
  margin: 0 auto;
}

/* ===== Властивість overflow - "переповнення" ====== */
.test-overflow-scroll {
  max-width: 1200px;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px 17px; /*внутрішні виступи для додавання простору (верх/низ, зліва/справа*/
  line-height: 1.5; /*висота рядка виражена в частинах, для гнучкості*/
  max-height: 250px; /*!обмеження висоти дозволяє використати скрол, рідко використовується*/
  overflow: auto; /*при переповненні контейнеру, автоматично підключається властивість
  прокручування змісту*/
}

/* ===== Зовнішні та внутрішні відступи в рядкових об*єктах ====== */
.inline-box {
  background-color: rgb(166, 165, 163);
  max-width: 1920px;
}
.test-inline {
  /*background-color: rgb(246, 218, 199);*/
  max-width: 1200px;
  margin: 0 auto;
}

/* Рядок */
.inline {
  background-color: antiquewhite;
  font-size: 25px;
  padding-left: 50px; /*відступ внутрішній на початку рядка*/
  padding-right: 50px; /*відступ внутрішній в кінці рядка рядка*/
  margin-left: 130px; /*зовнішній відступ зліва на початку рядка*/
  margin-right: 130px; /*зовнішній відступ справа в кінці рядка*/
  /*зовнішні/внутрішні відступи зверху/знизу для рядкових об*єктів - працюють специфічно*/
}

/* ====== Ф У Т Е Р ====== */
footer {
  background-color: rgb(243, 235, 225);
  max-width: 1920px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(49, 50, 52);
  margin: 0 auto;
  padding-top: 20px; /*внутрішній відступ зверху додає простору між тексом*/
  padding-bottom: 20px; /*внутрішній відступ знизу додає візуального простору*/
}

.description {
  color: rgb(49, 50, 52);
  font-size: 18px;
}

a {
  display: block; /* треновочно: переведення рядкового тегу - в блочний, 
	для надання властивостей блоку*/
  font-size: 18px;
  color: rgb(0, 26, 255);
  text-decoration-line: underline; /*підкреслення*/
  margin-top: 5px; /*верхній зовнішній відступ*/
  margin-bottom: 10px; /*нижній зовнішній відступ*/
}

