@import url("reset.css"); /* Файл обнулення стилів, розписаний по функціоналу */
/* Локальне підключення шрифтів */
@import url(fonts.css);

body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Lato", sans-serif; /*шрифт підключений  мережевий*/
  font-size: 16px; /*обраний пріорітетний шрифт на сторінці*/
}

/* ЗАГАЛЬНА ОБГОРТКА_ ці властивості писати завжди*/
.wrapper {
  display: flex; /*Const - на всю обгортку*/
  flex-direction: column; /* Const  - вибудовуємо в колонку херер - майн - футер*/
  position: relative; /* базування буде від Wrapper */
  min-height: 100%;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1; /*"Const" для всих сторінок */
}

/* Обмежуючий контейнер */
[class*="__container"] {
  margin: 0 auto;
  max-width: 1422px;
  padding: 0 15px;
}

/*=========== HEADER ================*/
.header {
  padding-top: 50px;
  text-align: center;
  color: #272727;
  background-color: #cecece;
}

.header__main-title {
  font-size: 30px;
  padding-bottom: 50px;
}

.title {
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__description {
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*=========== MAIN ==================*/

.register__header {
  /*Шапка блоку*/
  padding: 82px 0; /*верхні та нижні відступи, як в макеті*/
  text-align: center;
}
.register__title {
  margin-bottom: 36px; /*нижній відступ під заголовком*/
}
.title {
  /*стилі заголовка*/
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25; /* 40/32 */
  text-transform: uppercase;
}
.register__subtitle {
  /*підзаголовок*/
  color: #7e7f7c;
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
}
/* Стилі блоку реєстрації */
.register__body {
  /*гнучкий блок флекс*/
  display: flex; /*гнучкий контейнер*/
  padding: 82px 0; /*верхній відступ*/
  gap: 80px; /*внутрішні вдступи між елементами*/
  justify-content: space-between;
}

/* ================================= */
/*Стилі для форми реєстрації*/
.form-block {
  flex-basis: 712px; /*стартова ширина*/
}
.form-block__title {
  margin-bottom: 36px;
}
.form-block__subtitle {
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
  color: #7e7f7c;
  margin-bottom: 72px;
}
/* посилання */
.form-block__link {
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
  color: #2f302c;
}
/* підкреслення посилання прии наведенні */
.form-block__link:hover {
  text-decoration: underline;
}

.form-block__form {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
/* Блок складається з двох блоків */
.form-block__body {
  display: flex; /*гнучка властивість*/
  gap: 40px; /*внутрішні відступи міє дочічними елементами*/
  flex-direction: column; /*колонки*/
}
/* колонки сладаються з рядків */
.form-block__row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
/* Стиля для схожих елементів */
.form-block__name,
.form-block__email,
.form-block__password,
.form-block__password-reset {
  flex-basis: 336px; /*стартова ширина елементів*/
  max-width: 100%; /*займає всю ширину батьківського блоку*/
}

.form-block__phone {
  max-width: 100%;
}
/* Фокусування на полі введення даних */
.form-block__input:focus {
  outline: none; /*вимкнення обводки для поля введення*/
  border-bottom: 1px solid #000; /*нижнє пікреслення поля введення даних*/
}

.form-block__input {
  padding: 12px 0;
  border-bottom: 1px solid #d4d4d4;
}
/* Стиля для кнопки */
.form-block__button {
  max-width: 336px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
  color: #fff;
  background-color: #2f302c;
  transition-duration: 0.3s;
}
/* Стилі кнопки при наведенні */
.form-block__button:hover {
  background-color: #585858;
}
/* Стиль кнопки при активації */
.form-block__button:active {
  background-color: #2f302c;
}

/* =========== БЛОК ПРОПОЗИЦІЇ ================= */
.offer-block {
  position: relative; /*Стартовий блок для позиціонування доцірних елементів*/
  min-height: 496px;
  padding: 60px 80px;
  overflow: hidden;
  flex-basis: 600px; /*стартова ширина*/
  background-color: #f6f6f6;
}
/* Стилі для зображення */
.offer-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-block__info {
  display: flex; /*гнучкий блок*/
  position: relative; /*позиціонування*/
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
/* блок "HOT" */
.offer-block__badge {
  padding: 4px 8px;
  color: #fff;
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
  text-transform: uppercase;
  background-color: #ce0000;
  border-radius: 4px;
  margin-bottom: 24px;
}

/* =================================== */

/* ============== ФУТЕР ==============*/
.footer {
  text-align: center;
  padding-bottom: 20px;
  background-color: #686767;
}
.footer__content {
  padding-bottom: 20px; /*відступи для внутрішнього контенту*/
}
.footer__content--margin {
  padding-top: 30px;
}
.footer__title {
  color: rgb(201, 200, 200);
  line-height: 1.5;
  padding: 10px 0;
  letter-spacing: 2px; /*відстань між літерами*/
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__button {
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: 700;
  color: #d4d4d4;
  letter-spacing: 3px; /*відстань між літерами*/
  border: 2px solid rgb(114, 114, 114);
}

.footer__button:hover {
  /*При наведенні*/
  box-shadow: 3px 3px 5px rgb(220, 220, 233);
  background-color: #888888;
}
