@import url("reset.css"); /* Файл обнулення стилів, розписаний по фунціоналу */
@import url("fonts.css"); /* Підключення шрифта локально Lato 500 */

body {
  /*шрифти за замовчуванням - найбільш застосовані на сторінці*/
  font-family: "Montserrat", sans-serif; /*шрифт підключений  мережевий та локально lato*/
  font-size: 30px; /*найбільша кількість використаних шрифтів в макеті*/
  background-color: #e4e3e3;
}

/* ===== ХЕДЕР ====== */
.header-content {
  max-width: 1920px;
  margin: 0 auto;
}

.header-container {
  max-width: 1390px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 10px dotted #999999; /*декоративна лінія розподілу простру*/
}

/* Фоном тексту є зображення* */
.title-blocks {
  font-size: 70px;
  font-weight: 800;
  background-image: url("../img/background_curve.jpg"); /*Це зображення для фону тексту*/
  background-size: cover; /*Покриває фоном простір блоку, може частково обрізатися*/
  background-repeat: no-repeat;
  color: #dddddd;
  box-shadow: 10px 10px 40px 20px rgb(122, 191, 255);
  text-shadow: 5px 5px 10px rgb(69, 70, 71);
  background-position: center;
  padding: 50px 0px;
  line-height: 1.5;
}

/* ====== MAIN - ГОЛОВНА ЧАСТИНА СТОРІНКИ =======  */

/* Огортка для готовного контенту */
.lesson-container {
  max-width: 1920px;
  margin: 0 auto;
}

/* =======  СЕКЦІЯ ПЕРША ТРЕНУВАЛЬНА, згідно уроку =====*/
.lesson-learning {
  max-width: 1390px;
  text-align: center;
  margin: 0 auto;
}

.subtitle-border {
  font-weight: 700;
  font-size: 40px;
  color: brown;
  margin-bottom: 100px;
  text-decoration-line: underline;
  padding-top: 40px;
}

/* 1- БЛОК з обводкою та розмитою тінню */
.test-border {
  font-size: 25px;
  outline: 7px solid rgb(0, 155, 169);
  outline-offset: 10px; /*зовнішня обводка з офсетуванням*/
  box-shadow: 10px 10px 40px 20px rgb(65, 201, 225);
  background-color: rgb(249, 229, 205);
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 30px;
  margin-left: 50px; /*відступи зовнішні для наочності тіні*/
  margin-right: 50px; /*відступи зовнішні для наочності тіні*/
  line-height: 1.5;
}

/* 1-1 Обводка зображення */
.border-around {
  margin-bottom: 100px;
  background-color: rgb(217, 216, 215);
  text-align: center;
}
.photo-border {
  border: 10px dashed #2402ad;
}

/* 2 - БЛОК рядковий з ЗОВНІШНЬОЮ обводкою outline */
.span-test {
  margin-top: 50px;
  font-size: 25px;
  outline: 10px solid #1115eb;
  line-height: 1.7;
}

/* 3 - БЛОК з зовнішньою обводкою outline, виходить за рамки */
/* "inset"  внутрішня тінь.  Можливе задання декількох тіней: зовнішніх та внутрішніх*/
.test-border-outline {
  margin-top: 100px; /*Верхній відступ від рядкового елементу*/
  font-size: 30px;
  padding: 50px;
  outline: 10px solid rgb(1, 166, 133);
  border-radius: 10px;
  outline-offset: 15px; /*відступ зовнішній обводки*/
  box-shadow: inset 5px 5px 30px 10px rgb(144, 225, 163),
    5px 5px 30px 20px rgb(2, 123, 142), 5px 5px 30px 10px rgb(4, 155, 39);
  background-color: bisque;
  margin-bottom: 100px;
  line-height: 1.5;
}

/* Рядковий елемент - обводка */
.test-outline {
  outline: 5px dashed rgb(227, 66, 2); /*обводка елементу*/
}

/*БЛОК з побудовою геометричної фігури - КОЛО*/
/*Різні види тіней: зовнішті та внутрішні*/
.circle {
  width: 500px;
  height: 500px;
  background-color: rgb(0, 255, 38);
  border-radius: 50%;
  border: 7px dotted #1115eb;
  box-shadow: inset 5px 5px 40px 15px rgb(235, 224, 140),
    5px 5px 30px 10px rgb(119, 121, 252), 5px 5px 30px 10px rgb(4, 155, 39);
  font-size: 35px;
  padding-top: 200px; /*текст опустився до середини кола*/
  margin: 0 auto;
  margin-bottom: 70px;
}

/* Блок з побудовою 3d-кнопки */
.button {
  display: inline-block;
  padding: 25px;
  background-color: #037f4f;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  box-shadow: 0 10px 0px 0px rgb(1, 52, 76);
}

/* 5 - БЛОК з ефектом прозорсті*/
.block-opacity {
  display: block;
  margin-top: 50px;
  background-color: rgb(35, 136, 168);
  outline: 10px solid rgb(66, 66, 117); /*зовнішня обводка зображення*/
  opacity: 0.7; /*весь об'єкт напівпрозорий, якщо навіть прозорий повністю, то можна взаємодіяти*/
  margin-bottom: 100px;
  padding: 20px;
}

/* БЛОК  ТЕКСТУ  */
.subtitle-background {
  font-size: 40px;
  font-weight: 500;
  color: rgb(16, 0, 134);
  margin-bottom: 100px;
  text-decoration-line: underline;
  letter-spacing: 12px; /*відстань між літерами*/
}

/* 6 - БЛОК з заднім фоном - зображенням та позиціонуванням*/
.block-image {
  background-image: url("../img/background_yellow.jpg");
  background-color: rgb(197, 182, 164);
  margin-bottom: 40px;
  min-height: 500px; /*параметри задані для наглядності зображення*/
  background-position: 250px 100px; /*позиціонування зображення по x y*/
  background-repeat: no-repeat; /*не повторювати*/
  padding-top: 30px;
}

/* 7 - БЛОК зі складним градієнтом */
.block-image-gradient {
  background: linear-gradient(
    143deg,
    rgba(55, 3, 87, 1) 0%,
    rgba(235, 27, 34, 1) 46%,
    rgba(253, 29, 29, 1) 45%,
    rgba(248, 255, 31, 1) 100%
  );
  margin-bottom: 40px;
  color: #6c613e;
  border: 8px dotted #1115eb;
  padding: 150px 0px;
  line-height: 1.5;
}

/* 8 - БЛОК зі складним градієнтом, що взаємодіє з текстом */
.block-image-gradient-text {
  color: #cccccc;
  padding: 30px;
  background: linear-gradient(
    180deg,
    rgb(0, 96, 67) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  margin-bottom: 50px;
  border: 7px dashed #1115eb;
  line-height: 1.5;
}

/* 9- В цьому блоці використовується зображення, 
як приклад повторюванності */
.block-background-repear {
  background-image: url("../img/pattern.jpg");
  min-height: 600px; /*ця висота вказана, для видимості повторюванності зображення - патернів*/
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
  color: #ffffff;
  border: 7px solid #1115eb;
}

/* 10 - БЛОК з фіксацією зображення до в'юпорта */
.block-background-attachment {
  background-image: url("../img/weather.jpg");
  background-attachment: fixed; /*зображення "прилипає" до вікна в'юпорта, фіксується і не
  прокручується разом зі сторінккою*/
  background-color: rgb(238, 218, 191);
  min-height: 800px; /*висота задана для наочності прикладу*/
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 110px;
  margin-bottom: 50px;
  background-size: contain; /*зображення показано повністю, але частково можуть бути не закриті поля блоку*/
  color: #c5c5c5;
  line-height: 1.5; /*міжрядкова відстань*/
}

/* 11 - Блок з показом керування зображення через розміри */
/*background-size - auto auto; за замовчуванням, показує фактичні розміри зображення*/
/*background-size - contain; зображення зберігає цілісність та поміщається в блок*/
.block-background-size {
  background-image: url("../img/background_green.jpg");
  background-size: cover; /*зображення покриває весь блок пропорційно*/
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  border: 10px dashed #177202;
  background-clip: padding-box;
  margin-bottom: 40px;
  padding-top: 80px;
  line-height: 1.5;
}

/* Побудова стрілочок через CSS */
.arrow-contain {
  margin-bottom: 60px;
  border-top: 10px dotted #ababab; /*декоративна лінія розподілу простору*/
  border-bottom: 10px dotted #ababab; /*декоративна лінія розподілу простору*/
  padding: 50px;
  font-weight: 700;
  color: #1115eb;
}

/* стрілка вліво*/
.arrow-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 100px solid #1115eb;
}
/* стрілка вправо*/
.arrow-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid #1115eb;
}
/* стрілка вгору*/
.arrow-top {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #1115eb;
}

/* стрілка вниз*/
.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #1115eb;
}

/*===============================================================================*/
/* ====== СЕКЦІЯ ДРУГА, згідно завдання з макету =====  */

.lesson-practicing {
  margin-bottom: 40px;
}
/*НАЗВА блоку h2*/
.homework-subtitle {
  color: #110d86;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  text-decoration-line: underline;
}

.homework-block-training {
  width: 100%; /* Ширина блоку відповідає ширині батьківського блоку, тобто "main-container" */
  min-height: 612px;
  background-image: url("../img/hero_funiture.jpg");
  background-size: cover; /*зображення покриває весь блок пропорційно*/
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.homework-training-container {
  opacity: 0.8;
  max-width: 1390px;
  margin: 0 auto;
}

.homework-training-text {
  max-width: 650px;
  margin-left: auto;
  padding: 114px 0px 110px; /*верх 114, ліво/право - 0, знизу 110*/
}

.text-top {
  color: #2f302c;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700; /*шрифт підключений в html*/
  line-height: 1.4; /*висота рядка виражена в частинах, для гнучкості*/
  margin-bottom: 20px;
}

/*СПІЛЬНА запис для двох однакових елементів*/
.text-title,
.text-subtitle {
  color: #2f302c;
  font-size: 96px;
  line-height: 1.04;
  margin-bottom: 16px;
}

/*Окремо вказана відмінність*/
.text-title {
  font-weight: 800; /*шрифт підключений в html*/
}

/*Окремо вказана відмінність*/
.text-subtitle {
  font-weight: 700; /*шрифт підключений в html*/
}

/*ЛІНІЯ - побудова за допомогою html  / css*/
.line {
  max-width: 308px;
  max-width: 100%;
  height: 1px;
  background-color: #2f302c;
  margin-bottom: 36px;
}

.text-slogan {
  color: #2f302c;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.text-description {
  color: #7e7f7c;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.25;
}

/* =============СТИЛІЗАЦІЯ списку через CSS ============== */

.training-list {
  max-width: 1390px;
  margin: 0 auto;
}

.list-container {
  max-width: 350px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.list-check {
  max-width: 270px;
  margin: 0 auto;
}

.list-item-green,
.list-item-gray {
  background-image: url("../icons/Check_badge_green.svg"); /*додаю "іконку", як фонове зображення*/
  background-repeat: no-repeat; /*не повторювати*/
  margin-bottom: 15px; /*відстань між пунктами*/
  min-height: 32px; /*! необхідно вказувати мінімальну висоту іконки - для коректного 	відображення списку при додавання тексту*/
  padding-left: 42px; /*для зміщення тексту вправо від зображення*/
  line-height: 1.71; /*частина, як співвідношення бажаної висоти рядка до висоти шрифту */
  color: #252b42;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /*підключено в html*/
  letter-spacing: 0.2px;
  padding-top: 4px;
}

.list-item-gray {
  /*ВІДМІННІСТЬ іконки тільки в кольорі*/
  background-image: url("../icons/Check_badge_gray.svg"); /*додаю "іконку",
	як фонове зображення*/
}

/* ===== ФУРЕТ ======= */
.footer-container {
  max-width: 1920px;
  background-color: #5a5858;
  margin: 0 auto;
  text-align: center; /*властивість наслідується для всих рівнів тексту та рядкових елементів (плюс img)*/
}

/*Комбіновані селектори для Р, що вкладений тільки в "wrapper-description"*/
.wrapper-description p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(203, 203, 203);
  padding-top: 20px; /*внутрішній відступ зверху додає простору між тексом*/
  padding-bottom: 20px; /*внутрішній відступ знизу додає візуального простору*/
}
